<div class="friend-list">
	<div class="row">

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="/admin/sepordeh/Index" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> سپرده</a></h3>
						<p class="text-sm mb-0">خدمات سپرده</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="/admin/Enteghal/Index" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> انتقال وجه</a></h3>
						<p class="text-sm mb-0">خدمات انتقال وجه</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="/admin/Gabz_Charge/Index" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> قبض و شارژ</a></h3>
						<p class="text-sm mb-0">خدمات قبض و شارژ</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> چک</a></h3>
						<p class="text-sm mb-0">خدمات چک</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> تسهیلات</a></h3>
						<p class="text-sm mb-0">خدمات تسهیلات</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> عمومی</a></h3>
						<p class="text-sm mb-0">خدمات عمومی</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> پیمان</a></h3>
						<p class="text-sm mb-0">خدمات پیمان</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> توانم</a></h3>
						<p class="text-sm mb-0">خدمات توانم</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> کارپوشه</a></h3>
						<p class="text-sm mb-0">خدمات کارپوشه</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> عوارض آزاد راه</a></h3>
						<p class="text-sm mb-0">خدمات عوارض آزاد راه</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> سجام</a></h3>
						<p class="text-sm mb-0">خدمات سجام</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> سرویس های مکان محور</a></h3>
						<p class="text-sm mb-0">خدمات سرویس های مکان محور</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> سازمان بیمه سلامت ایران</a></h3>
						<p class="text-sm mb-0">خدمات سازمان بیمه سلامت ایران</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> پخش فراورده های نفتی</a></h3>
						<p class="text-sm mb-0">خدمات پخش فراورده های نفتی</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> شرکت ملی گاز ایران</a></h3>
						<p class="text-sm mb-0">خدمات شرکت ملی گاز ایران</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> سازمان هواپیمایی کشور</a></h3>
						<p class="text-sm mb-0">خدمات سازمان هواپیمایی کشور</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> وزارت راه و شهرسازی</a></h3>
						<p class="text-sm mb-0">خدمات وزارت راه و شهرسازی</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> کمیته امداد امام خمینی(ره)</a>
						</h3>
						<p class="text-sm mb-0">خدمات کمیته امداد امام خمینی(ره)</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> سازمان تامین اجتماعی</a></h3>
						<p class="text-sm mb-0">خدمات سازمان تامین اجتماعی</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> وزارت تعاون، کار و رفاه
								اجتماعی</a></h3>
						<p class="text-sm mb-0">خدمات وزارت تعاون، کار و رفاه اجتماعی</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> سازمان بهزیستی کشور</a></h3>
						<p class="text-sm mb-0">خدمات سازمان بهزیستی کشور</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> سازمان آموزش فنی و حرفه ای</a>
						</h3>
						<p class="text-sm mb-0">خدمات سازمان آموزش فنی و حرفه ای</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> سازمان ثبت املاک و اسناد
								کشور</a></h3>
						<p class="text-sm mb-0">خدمات سازمان ثبت املاک و اسناد کشور</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> وزارت علوم، تحقیقات و فناوری</a>
						</h3>
						<p class="text-sm mb-0">خدمات وزارت علوم، تحقیقات و فناوری</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> بنیاد شهید و امور ایثارگران</a>
						</h3>
						<p class="text-sm mb-0">خدمات بنیاد شهید و امور ایثارگران</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> وزارت آموزش و پرورش</a></h3>
						<p class="text-sm mb-0">خدمات وزارت آموزش و پرورش</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> سازمان ملی زمین و مسکن</a></h3>
						<p class="text-sm mb-0">خدمات سازمان ملی زمین و مسکن</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> شرکت مشاوره رتبه بندی
								ایرانیان</a></h3>
						<p class="text-sm mb-0">خدمات شرکت مشاوره رتبه بندی ایرانیان</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> سامانه سام</a></h3>
						<p class="text-sm mb-0">خدمات سامانه سام</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> وزارت جهاد کشاورزی</a></h3>
						<p class="text-sm mb-0">خدمات وزارت جهاد کشاورزی</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> شرکت پست ج.ا.ا</a></h3>
						<p class="text-sm mb-0">خدمات شرکت پست ج.ا.ا</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> سازمان تنظیم مقررات و ارتباطات
								رادیویی</a></h3>
						<p class="text-sm mb-0">خدمات سازمان تنظیم مقررات و ارتباطات رادیویی</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4  col-sm-12">
			<div class="friend-card card shadow">
				<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
				<div class="card-info">
					<img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
					<div class="friend-info">
						<a href="#" class="float-left btn btn-sm btn-primary btn-pill">مشاهده خدمات</a>
						<h3 class=" mb-0"><a href="timeline.html" class="profile-link"> سازمان نظام دامپزشکی کشور</a>
						</h3>
						<p class="text-sm mb-0">خدمات سازمان نظام دامپزشکی کشور</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>