<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div  style="text-align: center;background-color:rgb(143, 159, 255)"> <img src="https://nikatak.ir/site/Images/logo2.png" alt=""></div>
    <div style="">
    <h4 style="text-align: center;">سلام دوست عزیز به جمع بزرگ نیکاتک خوش آمدید</h4>
    <h4 style="text-align: center;">قرارداد به پیوست خدمت شما ارسال شد لطفا قرار داد را کامل نموده و آن را برای ما پست کنید</h4>
    <h4 style="text-align: center;"> لطفا برای دانلود قرار داد روی لینک زیر  کلیک کنید</h4>
    <div style="text-align: center;">
        <a href="https://drive.google.com/file/d/1HoK73qWxRieGkS1p7Rjg57OhN5Y1rk9L/view?usp=sharing"  >
            <h4>لینک دانلود</h4>
            
        </a>
    </div>
    <h4 style="text-align: center;"> شماره تماس همراه : : 09220648677</h4>
    <h4 style="text-align: center;"> شماره تماس ثابت اول : : 02191316789 </h4>
    
  </div> 
  <div style="text-align: center;">
    <a href="http://nikatak.ir/"  >
        <h4>وب سایت نیکاتک</h4>
        
    </a>
</div>

</body>
</html>