









    <section class="container-fluid mt-3">
        <div class="container p-md-5 box p-4">
            <h5 class="mb-4 bt-color IRANSansWeb_Medium"> مدیران و نمایندگان </h5>
            
            
<p style="text-align: center;">در حال بروزرسانی ...</p>
            <div class="row" style="display:none">
                
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <img src="~/Site/Images/Managers/1001.jpg" alt="">
                        <div class="data">
                            <h6 class="IRANSansWeb_Medium">مهندس انصار جعفری</h6>
                            <span>مدیر ارشد مالی</span>
                            <hr>
                            @* <p class="text-center">راه های ارتباطی با مدیر کل</p> *@
                            <a href="#"><i class="fab fa-2x fa-whatsapp rounded text-success"></i></a>
                            <a href="#"><i class="fab fa-2x fa-telegram rounded text-info"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <img src="~/Site/Images/Managers/1002.jpg" alt="">
                        <div class="data">
                            <h6 class="IRANSansWeb_Medium">   دکتر جعفر صابری</h6>
                            <span>مدیر روابط عمومی و بین الملل </span>
                            <hr>
                            @* <p class="text-center">راه های ارتباطی با معاونت کل</p> *@
                            <a href="#"><i class="fab fa-2x fa-whatsapp rounded text-success"></i></a>
                            <a href="#"><i class="fab fa-2x fa-telegram rounded text-info"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <img src="~/Site/Images/Managers/1003.jpg" alt="">
                        <div class="data">
                            <h6 class="IRANSansWeb_Medium">دکتر رضا مسلمی کهنه شهری </h6>
                            <span>مدیر امور نمایندگان شمال غرب کشور </span>
                            <hr>
                            @* <p class="text-center">راه های ارتباطی با معاونت اجرایی</p> *@
                            <a href="#"><i class="fab fa-2x fa-whatsapp rounded text-success"></i></a>
                            <a href="#"><i class="fab fa-2x fa-telegram rounded text-info"></i></a>
                        </div>
                    </div>
                </div>
             

               
              
             



            </div>
       
         </div>
    </section>


