<section class="container-fluid mt-3 pb-4 pb-lg-0">
    <div class="container p-5 box">
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb mb-0 rad25">
                        <li class="breadcrumb-item"><a href="#">صفحه اصلی</a></li>
                        <li class="breadcrumb-item"><a href="#">خدمات ما</a></li>
                        <li class="breadcrumb-item active" aria-current="page">جزئیات خدمات</li>
                    </ol>
                </nav>
                <div id="blog_details">
                    <h5 class="pt-3 IRANSansWeb_Medium"> اینترنت پرسرعت ADSL</h5>
                    @* <p><i class="fas fa-history pl-1"></i>تاریخ ارسال : 99/10/03 </p> *@
                    <img src="~/site/Images/Servoces/Img-8.jpg" class="img-fluid rad25 pb-3 w-75">

                    <p>
                        اینترنت پرسرعت ADSL

                    </p>
                    <p>
                        حجم سرویس های 3-6- ۱۲ ماه به صورت ضریبی از حجم یک ماهه طبق جداول فوق که به صورت یک جا در سرویس
                        مشترکین اعمال خواهد شد.

                    </p>

                    <p>
                        خرید سرویس های شش و دوازده ماهه (بجز سرویس های برنزی کم حجم)، به ترتیب شامل ۵ و ۱۰ درصد تخفیف
                        خواهد بود. * به آستانه مصرف هر یک ازسرویس ها ۵ درصد ترافیک بیش تر برای ایجاد حاشیه اطمینان
                        محاسبات مصرف کاربران افزوده شده است.
                    </p>

                    <p>
                        آستانه مصرف منصفانه که به اختصار FUP نامیده می شود عبارت است از حداکثر میزان ترافیکی که مشترک می
                        تواند در یک دوره و با همان سرعتی که سرویس را خریداری کرده، استفاده کند.
                    </p>

                    <p>
                        منظور از ترافیک داخلی، هر ترافیک با میزبانی داخلی است یعنی سایت ها و اپلیکیشن هایی که سرور آن در
                        داخل کشور می باشد و نام آنها در این لیست درج شده است.
                    </p>

                    <p>
                        ترافیک پیام‌رسان ‌های داخلی مورد تایید سازمان تنظیم مقررات و ارتباطات رادیویی، طبق مصوبه ۲۶۵
                        بصورت یک سوم بها محاسبه می‌شود.
                    </p>

                    <p>
                        منظور از ترافیک بین الملل، هر ترافیک با میزبانی خارجی است یعنی سایت ها و اپلیکیشن هایی که سرور
                        آن در خارج از کشور می باشد مانند اینستاگرام، تلگرام، گوگل و ....
                    </p>

                    <p>
                        مصرف هر گیگ از ترافیک بین الملل ۲ برابر مصرف هر گیگ از ترافیک داخلی محاسبه می شود.
                    </p>

                    <p>
                        در تمامی سرویس ها، FUP یکجا به مشترک داده می شود و مدیریت مصرف بنا بر میل مشترک در یک دوره می
                        باشد.
                    </p>

                    <p>
                        سرعت سرویس ها برای ۹۵ درصد مواقع تضمین می شود و ممکن است در ۵ درصد مواقع کاهش یابد.
                    </p>
                    <p>
                        مبلغ مالیات ارزش افزوده به سرویس ها اضافه خواهد شد.
                    </p>
                    <p>
                        هزینه‌ی راه‌اندازی و نصب این سرویس‌ها ۱۵,۰۰۰ تومان است.
                    </p>
                    <p>
                        هزینه دایری و تخلیه خطوط مشترکین ۱۲,۰۰۰ تومان است که در هنگام ثبت نام دریافت خواهد شد.
                    </p>
                    <p>
                        هزینه ی ایاب و ذهاب جهت نصب و راه اندازی و رفع خرابی ۲۵.۰۰۰ تومان می باشد.
                    </p>
                    <p>
                        برای کسب اطلاعات بیشتر مصوبه ۲۶۶ سازمان تنظیم مقررات را مطالعه فرمائید.
                    </p>
                    <p>
                        جزئیات پارامترهای موافقت نامه سطح خدمات آسیاتک، مطابق ضوابط مصوبه ۱۷۷ سازمان تنظیم مقررات به
                        پیوست قرارداد مشترکین میباشد. </p>

                    <h6>برچسب ها :</h6>
                    <ul class="inline">

                        <li class="mb-2">
                            <a href="#" class="key-word"># طراحی واکنشگرا</a>
                        </li>
                        <li class="mb-2">
                            <a href="#" class="key-word"># سرعت بالا </a>
                        </li>
                        <li class="mb-2">
                            <a href="#" class="key-word"># خدمات شبکه اختصاصی</a>
                        </li>
                        <li class="mb-2">
                            <a href="#" class="key-word"># استاندارد</a>
                        </li>
                    </ul>
                </div>



                <div class="mx-wh comment p-3">
                    <h6 class="IRANSans-Bold pl-2 ml-3 IRANSansWeb_Medium">ارسال دیدگاه :</h6>
                    <img src="~/site/Images/avatar.jpg" class="img-fluid mb-2 rounded-circle">
                    <div class="form-group">
                        <input class="form-control w-75" type="text" placeholder="نـام">
                        <input class="form-control w-75" type="email" placeholder="ایـمیل">
                        <textarea class="form-control area" cols="60" rows="9" placeholder="دیدگاه"
                            style="height: 150px!important"></textarea>
                    </div>
                    <button type="submit" class="btn btn-warning">ارسـال &nbsp;<i
                            class="fa fa-paper-plane"></i></button>
                </div>

                <!-- نمایش نظرات -->
                <!--<div class="mt-4 p-3  mx-wh">
                        <h5 class="IRANSansWeb_Medium bg-light py-2 px-3  mb-4 rad25">نظرات کاربران</h5>

                        <ul>
                            <li>
                                <div class="d-flex flex-row flex-wrap justify-content-between dash rad25 m-md-3 m-1 p-3">
                                    <div>
                                        <span class="IRANSansWeb_Medium pl-4">علی حمیدی</span>
                                        <span>
                                            <i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>
                                        </span>
                                        <p class="mb-0">پاسخ گویی شون عالی و خوب بود</p>
                                    </div>

                                    <div class="float-left">
                                        <span>22 : 16</span> -
                                        <span>1398/4/25</span>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <div class="d-flex flex-row flex-wrap justify-content-between dash rad25 m-md-3 m-1 p-3">
                                    <div>
                                        <span class="IRANSansWeb_Medium pl-4">مهسا حمیدی</span>
                                        <span>

                                            <i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>
                                        </span>
                                        <p class="mb-0">خوبه راضی ام</p>
                                    </div>

                                    <div class="float-left">
                                        <span>22 : 16</span> -
                                        <span>1398/4/25</span>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <div class="d-flex flex-row flex-wrap justify-content-between dash rad25 m-md-3 m-1 p-3">
                                    <div>
                                        <span class="IRANSansWeb_Medium pl-4">علی رضایی</span>
                                        <span>
                                            <i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>

                                        </span>
                                        <p class="mb-0">تخصص شون عالی بود ممنون</p>
                                    </div>

                                    <div class="float-left">
                                        <span>22 : 16</span> -
                                        <span>1398/4/25</span>
                                    </div>

                                </div>
                            </li>
                        </ul>


                                         </div>-->

            </div>
        </div>
    </div>
</section>
