<section class="container-fluid mt-3 pb-4 pb-lg-0">
    <div class="container p-5 box">
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb mb-0 rad25">
                        <li class="breadcrumb-item"><a href="#">صفحه اصلی</a></li>
                        <li class="breadcrumb-item"><a href="#">اطلاعیه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">جزئیات اطلاعیه</li>
                    </ol>
                </nav>
                <div id="blog_details text-center">
                  <hr>
            
                    <p style="text-align: justify; line-height: 40px; font-size: 18px;alert alert-info">
                        اطلاعیه  شماره  یک نیکا تک


                    </p>
                    <p style="text-align: justify; line-height: 40px; font-size: 14px;" >
                        قابل توجه نمایندگان ثبت نام شده تا 8 دی ماه 99
ارسال پیام از طریق واتساب به شماره 09220648677  جهت هماهنگی حضور در شرکت  نهایت تا 13 دی ماه میباشد.
حضور کلیه نمایندگان مستقر در استانها و شهرستانها که تا مورخه هشتم دی ماه سال جاری درخواست نمایندگی ویا  ثبت نام نموده اند می رساند.  جهت انعقاد قرارداد از مورخه  13  دی ماه تا 30 دی ماه  از طریق واتساب پیام ارسال نموده تا جهت هماهنگی  برای مراجعه حضوری  به همراه اصل مدارک ذیل به آدرس شرکت مندرج در سایت شرکت مراجعه فرمایند .
بدیهی است در صورت عدم هماهنگی قبلی  و تنظیم زمان حضور در موعد مقرر در مرحله نخست مجوز فعالیت بمدت۶ماه لغو ودرصورت تکرار باعث لغو خاتمه همکاری می باشد .
این اطلاعیه  به منزله ابلاغ قانونی  جهت ثبت نام کنندگان  تا هشتم  دی ماه است .
در هنگام مراجعه  اصل مدارک ذیل  وخود نماینده الزامی میباشد:
اصل شناسنامه و کارت ملی .
اصل مدرک تحصیلی
عکس 3*4  به تعداد 4 قطعه 
اصل کلیه مدارک  به همراه رسید  پرداخت وجه به حساب شرکت 
با سپاس 
مدیریت  حقوقی وامور قراردادها 
تاریخ 99.1.09
                    </p>

                    


                    </h5>
                    @* <p><i class="fas fa-history pl-1"></i>تاریخ ارسال : 99/10/03 </p> *@
                    <img src="~/site/Images/1.jpg" class="img-fluid rad25 pb-3 w-75">


                    <h6>برچسب ها :</h6>
                    <ul class="inline">

                        <li class="mb-2">
                            <a href="#" class="key-word">#قرارداد</a>
                        </li>
                        <li class="mb-2">
                            <a href="#" class="key-word"># اطلاعیه </a>
                        </li>
                        <li class="mb-2">
                            <a href="#" class="key-word"># نیکاتک</a>
                        </li>
                        <li class="mb-2">
                            <a href="#" class="key-word"># استاندارد</a>
                        </li>
                    </ul>
                </div>



                <div class="mx-wh comment p-3">
                    <h6 class="IRANSans-Bold pl-2 ml-3 IRANSansWeb_Medium">ارسال دیدگاه :</h6>
                    <img src="~/site/Images/avatar.jpg" class="img-fluid mb-2 rounded-circle">
                    <div class="form-group">
                        <input class="form-control w-75" type="text" placeholder="نـام">
                        <input class="form-control w-75" type="email" placeholder="ایـمیل">
                        <textarea class="form-control area" cols="60" rows="9" placeholder="دیدگاه"
                            style="height: 150px!important"></textarea>
                    </div>
                    <button type="submit" class="btn btn-warning">ارسـال &nbsp;<i
                            class="fa fa-paper-plane"></i></button>
                </div>

                <!-- نمایش نظرات -->
                <!--<div class="mt-4 p-3  mx-wh">
                        <h5 class="IRANSansWeb_Medium bg-light py-2 px-3  mb-4 rad25">نظرات کاربران</h5>

                        <ul>
                            <li>
                                <div class="d-flex flex-row flex-wrap justify-content-between dash rad25 m-md-3 m-1 p-3">
                                    <div>
                                        <span class="IRANSansWeb_Medium pl-4">علی حمیدی</span>
                                        <span>
                                            <i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>
                                        </span>
                                        <p class="mb-0">پاسخ گویی شون عالی و خوب بود</p>
                                    </div>

                                    <div class="float-left">
                                        <span>22 : 16</span> -
                                        <span>1398/4/25</span>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <div class="d-flex flex-row flex-wrap justify-content-between dash rad25 m-md-3 m-1 p-3">
                                    <div>
                                        <span class="IRANSansWeb_Medium pl-4">مهسا حمیدی</span>
                                        <span>

                                            <i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>
                                        </span>
                                        <p class="mb-0">خوبه راضی ام</p>
                                    </div>

                                    <div class="float-left">
                                        <span>22 : 16</span> -
                                        <span>1398/4/25</span>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <div class="d-flex flex-row flex-wrap justify-content-between dash rad25 m-md-3 m-1 p-3">
                                    <div>
                                        <span class="IRANSansWeb_Medium pl-4">علی رضایی</span>
                                        <span>
                                            <i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>

                                        </span>
                                        <p class="mb-0">تخصص شون عالی بود ممنون</p>
                                    </div>

                                    <div class="float-left">
                                        <span>22 : 16</span> -
                                        <span>1398/4/25</span>
                                    </div>

                                </div>
                            </li>
                        </ul>


                                         </div>-->

            </div>
        </div>
    </div>
</section>
