<section class="container-fluid mt-3 pb-4 pb-lg-0">
    <div class="container p-5 box">
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb mb-0 rad25">
                        <li class="breadcrumb-item"><a href="#">صفحه اصلی</a></li>
                        <li class="breadcrumb-item"><a href="#">خدمات ما</a></li>
                        <li class="breadcrumb-item active" aria-current="page">جزئیات خدمات</li>
                    </ol>
                </nav>
                <div id="blog_details">
                    <h5 class="pt-3 IRANSansWeb_Medium">اینترنت VDSL </h5>
                    @* <p><i class="fas fa-history pl-1"></i>تاریخ ارسال : 99/10/05 </p> *@
                    <img src="~/site/Images/Servoces/Img-10.jpg" class="img-fluid rad25 pb-3 w-75">
                    <p>
                        اینترنت VDSL
                    </p>
                    <p>
                        یکی از مهم‌ترین خدمات قابل ارایه در برج‌ها و مجتمع‌های مسکونی خدمات (VDSL (Very high bit-rate
                        DSL است.
                    </p>
                    <p>
                        شرکت برای نخستین بار در کشور این خدمات را که از آن به عنوان انقلابی در ارایه خدمات اینترنت یاد
                        می‌شود، با استفاده از پیشرفته‌ترین تجهیزات و فناوری‌ها در اختیار ساکنان برج‌ها و مجتمع‌ها قرار
                        می‌دهد. مهم‌ترین ویژگی این خدمات، پهنای باند بسیار بیش‌تر نسبت به خدمات +ADSL2 است. در این روش
                        مشتریان می‌توانند از سرویس‌ با سرعت‌ بالا همچون ۱۰۰Mbps بهره‌مند شوند. برای آشنایی با این فناوری
                        مطالعه نوشتار زیر را به شما توصیه می‌کنیم:
                    </p>
                    <p>
                        خدمات VDSL) Very high bit-rate Digital Subscriber Line) روشی نوین در ارایه خدمات اینترنت پرسرعت
                        است که سرعت ارایه خدمات بر بستر DSL را تا چندین برابر افزایش می‌دهد. در این روش، سرعت دانلود و
                        آپلود اطلاعات تا بیش از ۱۰ برابر روش ADSL قابل افزایش است. با توجه به نزدیک بودن فاصله میان مرکز
                        ارایه کننده و مشترک گیرنده این خدمات در برج‌ها و مجتمع‌ها، امکان ارایه این سرویس با کیفیتی ثابت
                        برای مشتریان فراهم می‌شود.
                    </p>
                    <p>
                        این خدمات در هر مجتمع ابتدا از طریق یک DSLAM دریافت و سپس از طریق خطوط تلفن میان کاربران تقسیم
                        می‌شود.
                    </p>
                    <p>
                        پس از آن هر مشترک با نصب یک مودم VDSL در محل خود می‌تواند از پهنای باند اختصاص داده شده بهره‌مند
                        شود. پهنای باند بسیار بالا، نوسان اندک و کیفیت ثابت، از مهم‌ترین ویژگی‌های این روش به شمار
                        می‌آید.
                    </p>

                    <h6>برچسب ها :</h6>
                    <ul class="inline">

                        <li class="mb-2">
                            <a href="#" class="key-word"># طراحی واکنشگرا</a>
                        </li>
                        <li class="mb-2">
                            <a href="#" class="key-word"># سرعت بالا </a>
                        </li>
                        <li class="mb-2">
                            <a href="#" class="key-word"># اینترنت VDSL
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="#" class="key-word"># استاندارد</a>
                        </li>
                    </ul>
                </div>



                <div class="mx-wh comment p-3">
                    <h6 class="IRANSans-Bold pl-2 ml-3 IRANSansWeb_Medium">ارسال دیدگاه :</h6>
                    <img src="~/site/Images/avatar.jpg" class="img-fluid mb-2 rounded-circle">
                    <div class="form-group">
                        <input class="form-control w-75" type="text" placeholder="نـام">
                        <input class="form-control w-75" type="email" placeholder="ایـمیل">
                        <textarea class="form-control area" cols="60" rows="9" placeholder="دیدگاه"
                            style="height: 150px!important"></textarea>
                    </div>
                    <button type="submit" class="btn btn-warning">ارسـال &nbsp;<i
                            class="fa fa-paper-plane"></i></button>
                </div>

                <!-- نمایش نظرات -->
                <!--<div class="mt-4 p-3  mx-wh">
                        <h5 class="IRANSansWeb_Medium bg-light py-2 px-3  mb-4 rad25">نظرات کاربران</h5>

                        <ul>
                            <li>
                                <div class="d-flex flex-row flex-wrap justify-content-between dash rad25 m-md-3 m-1 p-3">
                                    <div>
                                        <span class="IRANSansWeb_Medium pl-4">علی حمیدی</span>
                                        <span>
                                            <i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>
                                        </span>
                                        <p class="mb-0">پاسخ گویی شون عالی و خوب بود</p>
                                    </div>

                                    <div class="float-left">
                                        <span>22 : 16</span> -
                                        <span>1398/4/25</span>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <div class="d-flex flex-row flex-wrap justify-content-between dash rad25 m-md-3 m-1 p-3">
                                    <div>
                                        <span class="IRANSansWeb_Medium pl-4">مهسا حمیدی</span>
                                        <span>

                                            <i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>
                                        </span>
                                        <p class="mb-0">خوبه راضی ام</p>
                                    </div>

                                    <div class="float-left">
                                        <span>22 : 16</span> -
                                        <span>1398/4/25</span>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <div class="d-flex flex-row flex-wrap justify-content-between dash rad25 m-md-3 m-1 p-3">
                                    <div>
                                        <span class="IRANSansWeb_Medium pl-4">علی رضایی</span>
                                        <span>
                                            <i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>

                                        </span>
                                        <p class="mb-0">تخصص شون عالی بود ممنون</p>
                                    </div>

                                    <div class="float-left">
                                        <span>22 : 16</span> -
                                        <span>1398/4/25</span>
                                    </div>

                                </div>
                            </li>
                        </ul>


                                         </div>-->

            </div>
        </div>
    </div>
</section>
