<section class="container-fluid mt-3 pb-4 pb-lg-0">
    <div class="container p-5 box">
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb mb-0 rad25">
                        <li class="breadcrumb-item"><a href="#">صفحه اصلی</a></li>
                        <li class="breadcrumb-item"><a href="#">خدمات ما</a></li>
                        <li class="breadcrumb-item active" aria-current="page">جزئیات خدمات</li>
                    </ol>
                </nav>
                <div id="blog_details">
                    <h5 class="pt-3 IRANSansWeb_Medium">ردیاب نیکا
                    </h5>
                    @* <p><i class="fas fa-history pl-1"></i>تاریخ ارسال : 99/10/03 </p> *@
                    <img src="~/site/Images/Servoces/Img-12.jpg" class="img-fluid rad25 pb-3 w-75">

                    <p>
                        ردیاب نیکا

                    </p>
                    <p>
                        سامانه ردیابی چه کاربردهایی دارد؟
                    </p>

                    <p>
                        سرویس ردیابی ماهواره ای راه حل نوینی از دنیای تکنولوژی به مدیریان مشاغل مختلف مرتبط با هزینه حمل
                        و نقل می باشد و امکانات آن چنان وسیع است که پهنه کاربرد آن بی انتهاست. </p>
                    <p>
                        برخی از زمینه های شغلی که این سامانه در نحوه مدیریت و کاهش هزینه‌های آنها نقش غیر قابل تصوری
                        ایفا می نماید، عبارتند از: </p>
                    <p>
                         شرکت های پیمانکار خدمات و نظافت شهری
                    </p>
                    <p>
                         شرکت های ترانزیت انواع کالا
                    </p>

                    <p>
                         توزیع کنندگان و بنکداران مواد غذایی
                    </p>

                    <p>
                         واحد های حوادث آب، برق، گاز و...
                    </p>

                    <p>
                         مراکز خودروهای کرایه ای
                    </p>

                    <p>
                         پیمانکاران صنعت حمل و نقل
                    </p>

                    <p>
                         شرکت های تعاونی حمل و نقل مسافر
                    </p>

                    <p>
                         مراکز تاکسی سرویس، وانت تلفنی و پیک موتوری
                    </p>

                    <p>
                         آتش نشانی ها و مراکز آمبولانس
                    </p>


                    <p>
                         مراکز دارای خودروهای ماموریتی
                    </p>
                    <p>
                         شرکت های حمل فراورده های نفتی و پتروشیمی
                    </p>
                    <p>
                         مراکز توزیع و خرید عمده لوازم یدکی
                    </p>
                    <p>
                         کارخانجات دارای سرویس حمل و نقل مواد اولیه و محصولات تولیدی
                    </p>
                    <p>
                         سازمان ها و مراکز دارای سرویس حمل و نقل پرسنل
                    </p>
                    <p>
                         سازمان ها و شرکت های دارای پرسنل سیار(ماور، بازاریاب و...)
                    </p>

                    <p>
                         همچنین خودروهای شخصی به عنوان وسیله ای جهت امنیت می توانند از این وسیله استفاده كنند </p>




                    <h6>برچسب ها :</h6>
                    <ul class="inline">

                        <li class="mb-2">
                            <a href="#" class="key-word"># طراحی واکنشگرا</a>
                        </li>
                        <li class="mb-2">
                            <a href="#" class="key-word"># سرعت بالا </a>
                        </li>
                        <li class="mb-2">
                            <a href="#" class="key-word"># ردیاب نیکا</a>
                        </li>
                        <li class="mb-2">
                            <a href="#" class="key-word"># استاندارد</a>
                        </li>
                    </ul>
                </div>



                <div class="mx-wh comment p-3">
                    <h6 class="IRANSans-Bold pl-2 ml-3 IRANSansWeb_Medium">ارسال دیدگاه :</h6>
                    <img src="~/site/Images/avatar.jpg" class="img-fluid mb-2 rounded-circle">
                    <div class="form-group">
                        <input class="form-control w-75" type="text" placeholder="نـام">
                        <input class="form-control w-75" type="email" placeholder="ایـمیل">
                        <textarea class="form-control area" cols="60" rows="9" placeholder="دیدگاه"
                            style="height: 150px!important"></textarea>
                    </div>
                    <button type="submit" class="btn btn-warning">ارسـال &nbsp;<i
                            class="fa fa-paper-plane"></i></button>
                </div>

                <!-- نمایش نظرات -->
                <!--<div class="mt-4 p-3  mx-wh">
                        <h5 class="IRANSansWeb_Medium bg-light py-2 px-3  mb-4 rad25">نظرات کاربران</h5>

                        <ul>
                            <li>
                                <div class="d-flex flex-row flex-wrap justify-content-between dash rad25 m-md-3 m-1 p-3">
                                    <div>
                                        <span class="IRANSansWeb_Medium pl-4">علی حمیدی</span>
                                        <span>
                                            <i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>
                                        </span>
                                        <p class="mb-0">پاسخ گویی شون عالی و خوب بود</p>
                                    </div>

                                    <div class="float-left">
                                        <span>22 : 16</span> -
                                        <span>1398/4/25</span>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <div class="d-flex flex-row flex-wrap justify-content-between dash rad25 m-md-3 m-1 p-3">
                                    <div>
                                        <span class="IRANSansWeb_Medium pl-4">مهسا حمیدی</span>
                                        <span>

                                            <i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>
                                        </span>
                                        <p class="mb-0">خوبه راضی ام</p>
                                    </div>

                                    <div class="float-left">
                                        <span>22 : 16</span> -
                                        <span>1398/4/25</span>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <div class="d-flex flex-row flex-wrap justify-content-between dash rad25 m-md-3 m-1 p-3">
                                    <div>
                                        <span class="IRANSansWeb_Medium pl-4">علی رضایی</span>
                                        <span>
                                            <i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>
                                            <i class="fas fa-star text-warning"></i>

                                        </span>
                                        <p class="mb-0">تخصص شون عالی بود ممنون</p>
                                    </div>

                                    <div class="float-left">
                                        <span>22 : 16</span> -
                                        <span>1398/4/25</span>
                                    </div>

                                </div>
                            </li>
                        </ul>


                                         </div>-->

            </div>
        </div>
    </div>
</section>
