









    <section class="container-fluid mt-3">
        <div class="container p-md-5 box p-4">
            <h5 class="mb-4 bt-color IRANSansWeb_Medium"> مدیران و نمایندگان </h5>
            
            <p style="text-align: center;">در حال بروزرسانی ...</p>

            <div class="row d-none">
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <img src="~/Site/Images/987.jpg" alt="">
                        <div class="data">
                            <h6 class="IRANSansWeb_Medium">مهندس رضایی</h6>
                            <span>مدیر کل</span>
                            <hr>
                            <p class="text-center">راه های ارتباطی با مدیر کل</p>
                            <a href="#"><i class="fab fa-2x fa-whatsapp rounded text-success"></i></a>
                            <a href="#"><i class="fab fa-2x fa-telegram rounded text-info"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <img src="~/Site/Images/986.jpg" alt="">
                        <div class="data">
                            <h6 class="IRANSansWeb_Medium">مهندس قاسمی</h6>
                            <span>معاونت کل</span>
                            <hr>
                            <p class="text-center">راه های ارتباطی با معاونت کل</p>
                            <a href="#"><i class="fab fa-2x fa-whatsapp rounded text-success"></i></a>
                            <a href="#"><i class="fab fa-2x fa-telegram rounded text-info"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <img src="~/Site/Images/988.jpg" alt="">
                        <div class="data">
                            <h6 class="IRANSansWeb_Medium">مهندس نعمتی</h6>
                            <span>معاونت اجرایی</span>
                            <hr>
                            <p class="text-center">راه های ارتباطی با معاونت اجرایی</p>
                            <a href="#"><i class="fab fa-2x fa-whatsapp rounded text-success"></i></a>
                            <a href="#"><i class="fab fa-2x fa-telegram rounded text-info"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <img src="~/Site/Images/989.jpg" alt="">
                        <div class="data">
                            <h6 class="IRANSansWeb_Medium">مهندس علی زاده </h6>
                            <span>معاونت داخلی</span>
                            <hr>
                            <p class="text-center">راه های ارتباطی با معاونت داخلی</p>
                            <a href="#"><i class="fab fa-2x fa-whatsapp rounded text-success"></i></a>
                            <a href="#"><i class="fab fa-2x fa-telegram rounded text-info"></i></a>
                        </div>
                    </div>
                </div>
 <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <img src="~/Site/Images/987.jpg" alt="">
                        <div class="data">
                            <h6 class="IRANSansWeb_Medium">مهندس رضایی</h6>
                            <span>مدیر کل</span>
                            <hr>
                            <p class="text-center">راه های ارتباطی با مدیر کل</p>
                            <a href="#"><i class="fab fa-2x fa-whatsapp rounded text-success"></i></a>
                            <a href="#"><i class="fab fa-2x fa-telegram rounded text-info"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <img src="~/Site/Images/986.jpg" alt="">
                        <div class="data">
                            <h6 class="IRANSansWeb_Medium">مهندس قاسمی</h6>
                            <span>معاونت کل</span>
                            <hr>
                            <p class="text-center">راه های ارتباطی با معاونت کل</p>
                            <a href="#"><i class="fab fa-2x fa-whatsapp rounded text-success"></i></a>
                            <a href="#"><i class="fab fa-2x fa-telegram rounded text-info"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <img src="~/Site/Images/988.jpg" alt="">
                        <div class="data">
                            <h6 class="IRANSansWeb_Medium">مهندس نعمتی</h6>
                            <span>معاونت اجرایی</span>
                            <hr>
                            <p class="text-center">راه های ارتباطی با معاونت اجرایی</p>
                            <a href="#"><i class="fab fa-2x fa-whatsapp rounded text-success"></i></a>
                            <a href="#"><i class="fab fa-2x fa-telegram rounded text-info"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <img src="~/Site/Images/989.jpg" alt="">
                        <div class="data">
                            <h6 class="IRANSansWeb_Medium">مهندس علی زاده </h6>
                            <span>معاونت داخلی</span>
                            <hr>
                            <p class="text-center">راه های ارتباطی با معاونت داخلی</p>
                            <a href="#"><i class="fab fa-2x fa-whatsapp rounded text-success"></i></a>
                            <a href="#"><i class="fab fa-2x fa-telegram rounded text-info"></i></a>
                        </div>
                    </div>

                </div>



            </div>
       
         </div>
    </section>


