
    <section class="container-fluid mt-3">
        <div class="container p-md-5 box p-4">
            <div class="row">
                <div class="col-lg-8 text-justify">
                    <h5 class="mb-4 bt-color IRANSansWeb_Medium">سوالات متداول</h5>

                    <div id="cstm_collapsible" class="custon_shadw rounded bg-light mt-3">
                        <button class="collapsible">فرم ها را چگونه می توانم دانلود کنم ؟</button>
                        <div class="content">
                            <p class="p-2">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ .
                            </p>
                        </div>

                        <button class="collapsible">آیا پس از عضویت نیاز به فعال سازی ایمیل می باشد ؟</button>
                        <div class="content">
                            <p class="p-2">
                                لورم ایپسوم متن ساختگی با تولید سادگی .
                            </p>
                          </div>
                        <button class="collapsible">فرم ها را چگونه می توانم دانلود کنم ؟</button>
                        <div class="content">
                            <p class="p-2">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ .
                            </p>
                        </div>
                        <button class="collapsible">آیا پس از عضویت نیاز به فعال سازی ایمیل می باشد ؟</button>
                        <div class="content">
                            <p class="p-2">
                                لورم ایپسوم متن ساختگی با تولید سادگی .
                            </p>
                        </div>
                            <button class="collapsible">فرم ها را چگونه می توانم دانلود کنم ؟</button>
                            <div class="content">
                                <p class="p-2">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ .
                                </p>
                            </div>
             
                   
                     
                </div>
                    </div>
                <div class="col-lg-4 pt-4">
                    <img  src="~/site/Images\Teleco.png" class="float-lg-left d-none d-lg-block img-fluid" style="width:300px;height:auto">
                </div>
            </div>
            <br><br><br>
        </div>

    </section>
