<section class="container mt-3 grad-bg px-md-2 pt-3 pb-4 rad25 brlb">
    <h5 class="IRANSansWeb_Medium text-center bt-color text-white pb-3"> کلیه خدمات ما</h5>
</section>

<div class="mx-auto text-center">
    <img src="~/Site/Images/foot.png">

</div>


<section class="container mt-5">
    <div id="category" class="row">
        @* <div class="col-md-3">
            <div class="mb-2 box p-3">
            <h6 class="IRANSansWeb_Medium bt-color bg-light py-2 px-3 mb-3 rad25">آخرین اخبار</h6>
            <ul class="prof">
            <li>
            <a href="#">
            <i class="far fa-file-alt text-info ml-1"></i>
            لورم ایپسوم متن ساختگی با تولید سادگی
            </a>
            </li>
            <li>
            <a href="#">
            <i class="far fa-file-alt text-info ml-1"></i>
            لورم ایپسوم متن ساختگی با تولید
            </a>
            </li>
            <li>
            <a href="#">
            <i class="far fa-file-alt text-info ml-1"></i>
            ساختگی با تولید سادگی نامفهوم از صنعت
            </a>
            </li>
            <li>
            <a href="#">
            <i class="far fa-file-alt text-info ml-1"></i>
            متن ساختگی با تولید سادگی نامفهوم
            </a>
            </li>
            </ul>

            </div>
            <div class="my-2 box p-3">
            <h6 class="IRANSansWeb_Medium bt-color bg-light py-2 px-3 rad25">دسته بندی ها</h6>
            <ul class="prof">
            <li>
            <a href="#">
            <i class="far fa-folder ml-1 text-info"></i>
            آموزشی
            </a>
            </li>
            <li>
            <a href="#">
            <i class="far fa-folder ml-1 text-info"></i>
            علمی
            </a>
            </li>
            <li>
            <a href="#">
            <i class="far fa-folder ml-1 text-info"></i>
            فرهنگی
            </a>
            </li>
            <li>
            <a href="#">
            <i class="far fa-folder ml-1 text-info"></i>
            اخبار
            </a>
            </li>
            </ul>

            </div>

            <div class="my-2 box p-3">
            <h6 class="IRANSansWeb_Medium bt-color bg-light py-2 px-3 mb-3 rad25">مقالات</h6>
            <ul class="prof">
            <li>
            <a href="#">
            <i class="far fa-file-alt text-info ml-1"></i>
            لورم ایپسوم متن ساختگی با تولید سادگی
            </a>
            </li>
            <li>
            <a href="#">
            <i class="far fa-file-alt text-info ml-1"></i>
            لورم ایپسوم متن ساختگی با تولید
            </a>
            </li>
            <li>
            <a href="#">
            <i class="far fa-file-alt text-info ml-1"></i>
            ساختگی با تولید سادگی نامفهوم از صنعت
            </a>
            </li>
            <li>
            <a href="#">
            <i class="far fa-file-alt text-info ml-1"></i>
            متن ساختگی با تولید سادگی نامفهوم
            </a>
            </li>
            </ul>

            </div>

            </div> *@
        <div id="article" class="col-md-12">
            <div class="row">

                <div class="col-md-4">
                    <div class="card p-3">
                        <a href="/singlepage/Index1" class="relative">
                            <a href="/singlepage/Index1"><img src="~/site/Images/Servoces/Img-1.jpg"
                                    class="mb-3 img-fluid rad12"></a>
                            <div class="d-flex flex-column covernews ">
                                <div
                                    class="d-flex flex-row justify-content-between px-3 text-white IRANSansWeb_Medium ">
                                    @* <span class="bottom_p"><i class="fas fa-clock ml-1"></i>98/5/9</span>
                                        <span><i class="fas fa-eye ml-1"></i>28 بار</span>
                                        <span><i class="fas fa-comment ml-1"></i>6</span> *@
                                </div>
                            </div>
                        </a>
                        <p>
                            اینترنت TD-LTE، نسل جدید اینترنت ثابت بی سیم </p>
                        <a href="/singlepage/Index1" class="text-danger IRANSansWeb_Medium text-center mb-3">مشاهده خبر
                            »</a>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="card p-3">
                        <a href="/singlepage/Index2" class="relative">
                            <a href="/singlepage/Index2"><img src="~/site/Images/Servoces/Img-2.jpg"
                                    class="mb-3 img-fluid rad12"></a>
                            <div class="d-flex flex-column covernews ">
                                <div
                                    class="d-flex flex-row justify-content-between px-3 text-white IRANSansWeb_Medium ">
                                    @* <span class="bottom_p"><i class="fas fa-clock ml-1"></i>98/5/9</span>
                                        <span><i class="fas fa-eye ml-1"></i>28 بار</span>
                                        <span><i class="fas fa-comment ml-1"></i>6</span> *@
                                </div>
                            </div>
                        </a>

                        <p>
                            بهرمندی از خدمات تلفن گویا در سطح کشور می باشد.
                        </p>
                        <a href="/singlepage/Index2" class="text-danger IRANSansWeb_Medium text-center mb-3">مشاهده خبر
                            »</a>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="card p-3">
                        <a href="Bl/singlepage/Index3" class="relative">
                            <a href="/singlepage/Index3"><img src="~/site/Images/Servoces/Img-3.jpg"
                                    class="mb-3 img-fluid rad12"></a>
                            <div class="d-flex flex-column covernews ">
                                <div
                                    class="d-flex flex-row justify-content-between px-3 text-white IRANSansWeb_Medium ">
                                    @* <span class="bottom_p"><i class="fas fa-clock ml-1"></i>98/5/9</span>
                                        <span><i class="fas fa-eye ml-1"></i>28 بار</span>
                                        <span><i class="fas fa-comment ml-1"></i>6</span> *@
                                </div>
                            </div>
                        </a>

                        <p>
                            مزایای سیم‌کارت‌ مختص مودم‌های ثابت (TD-LTE):
                        </p>
                        <a href="/singlepage/Index3" class="text-danger IRANSansWeb_Medium text-center mb-3">مشاهده خبر
                            »</a>
                    </div>

                </div>


                <div class="col-md-4">
                    <div class="card p-3">
                        <a href="Bl/singlepage/Index4" class="relative">
                            <a href="/singlepage/Index4"><img src="~/site/Images/Servoces/Img-4.jpg"
                                    class="mb-3 img-fluid rad12"></a>
                            <div class="d-flex flex-column covernews ">
                                <div
                                    class="d-flex flex-row justify-content-between px-3 text-white IRANSansWeb_Medium ">
                                    @* <span class="bottom_p"><i class="fas fa-clock ml-1"></i>98/5/9</span>
                                        <span><i class="fas fa-eye ml-1"></i>28 بار</span>
                                        <span><i class="fas fa-comment ml-1"></i>6</span> *@
                                </div>
                            </div>
                        </a>

                        <p>
                            نیکا ‌پیامک یک سامانه اینترنتی برای ارسال پیامک </p>
                        <a href="/singlepage/Index4" class="text-danger IRANSansWeb_Medium text-center mb-3">مشاهده خبر
                            »</a>
                    </div>

                </div>



                <div class="col-md-4">
                    <div class="card p-3">
                        <a href="Bl/singlepage/Index5" class="relative">
                            <a href="/singlepage/Index5"><img src="~/site/Images/Servoces/Img-5.jpg"
                                    class="mb-3 img-fluid rad12"></a>
                            <div class="d-flex flex-column covernews ">
                                <div
                                    class="d-flex flex-row justify-content-between px-3 text-white IRANSansWeb_Medium ">
                                    @* <span class="bottom_p"><i class="fas fa-clock ml-1"></i>98/5/9</span>
                                        <span><i class="fas fa-eye ml-1"></i>28 بار</span>
                                        <span><i class="fas fa-comment ml-1"></i>6</span> *@
                                </div>
                            </div>
                        </a>

                        <p>
                            سرویس تلفن های ثابت اینترنتی گویا نیکا تک
                        </p>
                        <a href="/singlepage/Index5" class="text-danger IRANSansWeb_Medium text-center mb-3">مشاهده خبر
                            »</a>
                    </div>

                </div>



                <div class="col-md-4">
                    <div class="card p-3">
                        <a href="Bl/singlepage/Index6" class="relative">
                            <a href="/singlepage/Index6"><img src="~/site/Images/Servoces/Img-6.jpg"
                                    class="mb-3 img-fluid rad12"></a>
                            <div class="d-flex flex-column covernews ">
                                <div
                                    class="d-flex flex-row justify-content-between px-3 text-white IRANSansWeb_Medium ">
                                    @* <span class="bottom_p"><i class="fas fa-clock ml-1"></i>98/5/9</span>
                                        <span><i class="fas fa-eye ml-1"></i>28 بار</span>
                                        <span><i class="fas fa-comment ml-1"></i>6</span> *@
                                </div>
                            </div>
                        </a>

                        <p>
                            موقعیت محلی هر مرکز در سراسر کشور به یکدیگر متصل
                        </p>
                        <a href="/singlepage/Index6" class="text-danger IRANSansWeb_Medium text-center mb-3">مشاهده خبر
                            »</a>
                    </div>
                </div>



                <div class="col-md-4">
                    <div class="card p-3">
                        <a href="Bl/singlepage/Index7" class="relative">
                            <a href="/singlepage/Index7"><img src="~/site/Images/Servoces/Img-7.jpg"
                                    class="mb-3 img-fluid rad12"></a>
                            <div class="d-flex flex-column covernews ">
                                <div
                                    class="d-flex flex-row justify-content-between px-3 text-white IRANSansWeb_Medium ">
                                    @* <span class="bottom_p"><i class="fas fa-clock ml-1"></i>98/5/9</span>
                                        <span><i class="fas fa-eye ml-1"></i>28 بار</span>
                                        <span><i class="fas fa-comment ml-1"></i>6</span> *@
                                </div>
                            </div>
                        </a>

                        <p>
                            خدماتی است با امکانات سخت‌افزاری اختصاصی و قابل گسترش </p>
                        <a href="/singlepage/Index7" class="text-danger IRANSansWeb_Medium text-center mb-3">مشاهده خبر
                            »</a>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="card p-3">
                        <a href="Bl/singlepage/Index8" class="relative">
                            <a href="/singlepage/Index8"><img src="~/site/Images/Servoces/Img-8.jpg"
                                    class="mb-3 img-fluid rad12"></a>
                            <div class="d-flex flex-column covernews ">
                                <div
                                    class="d-flex flex-row justify-content-between px-3 text-white IRANSansWeb_Medium ">
                                    @* <span class="bottom_p"><i class="fas fa-clock ml-1"></i>98/5/9</span>
                                        <span><i class="fas fa-eye ml-1"></i>28 بار</span>
                                        <span><i class="fas fa-comment ml-1"></i>6</span> *@
                                </div>
                            </div>
                        </a>

                        <p>
                            اینترنت پرسرعت ADSL
                        </p>
                        <a href="/singlepage/Index8" class="text-danger IRANSansWeb_Medium text-center mb-3">مشاهده خبر
                            »</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card p-3">
                        <a href="Bl/singlepage/Index9" class="relative">
                            <a href="/singlepage/Index9"><img src="~/site/Images/Servoces/Img-9.jpg"
                                    class="mb-3 img-fluid rad12"></a>
                            <div class="d-flex flex-column covernews ">
                                <div
                                    class="d-flex flex-row justify-content-between px-3 text-white IRANSansWeb_Medium ">
                                    @* <span class="bottom_p"><i class="fas fa-clock ml-1"></i>98/5/9</span>
                                        <span><i class="fas fa-eye ml-1"></i>28 بار</span>
                                        <span><i class="fas fa-comment ml-1"></i>6</span> *@
                                </div>
                            </div>
                        </a>

                        <p>
                            خدمات دیتا سنتر

                        </p>
                        <a href="/singlepage/Index9" class="text-danger IRANSansWeb_Medium text-center mb-3">مشاهده خبر
                            »</a>
                    </div>
                </div>




                <div class="col-md-4">
                    <div class="card p-3">
                        <a href="Bl/singlepage/Index10" class="relative">
                            <a href="/singlepage/Index10"><img src="~/site/Images/Servoces/Img-10.jpg"
                                    class="mb-3 img-fluid rad12"></a>
                            <div class="d-flex flex-column covernews ">
                                <div
                                    class="d-flex flex-row justify-content-between px-3 text-white IRANSansWeb_Medium ">
                                    @* <span class="bottom_p"><i class="fas fa-clock ml-1"></i>98/5/9</span>
                                        <span><i class="fas fa-eye ml-1"></i>28 بار</span>
                                        <span><i class="fas fa-comment ml-1"></i>6</span> *@
                                </div>
                            </div>
                        </a>

                        <p>
                            اینترنت VDSL
                        </p>
                        <a href="/singlepage/Index10" class="text-danger IRANSansWeb_Medium text-center mb-3">مشاهده خبر
                            »</a>
                    </div>
                </div>




                <div class="col-md-4">
                    <div class="card p-3">
                        <a href="Bl/singlepage/Index11" class="relative">
                            <a href="/singlepage/Index11"><img src="~/site/Images/Servoces/Img-11.jpg"
                                    class="mb-3 img-fluid rad12"></a>
                            <div class="d-flex flex-column covernews ">
                                <div
                                    class="d-flex flex-row justify-content-between px-3 text-white IRANSansWeb_Medium ">
                                    @* <span class="bottom_p"><i class="fas fa-clock ml-1"></i>98/5/9</span>
                                        <span><i class="fas fa-eye ml-1"></i>28 بار</span>
                                        <span><i class="fas fa-comment ml-1"></i>6</span> *@
                                </div>
                            </div>
                        </a>

                        <p>
                            تست سرعت اینترنت
                        </p>
                        <a href="/singlepage/Index11" class="text-danger IRANSansWeb_Medium text-center mb-3">مشاهده خبر
                            »</a>
                    </div>
                </div>




                <div class="col-md-4">
                    <div class="card p-3">
                        <a href="Bl/singlepage/Index12" class="relative">
                            <a href="/singlepage/Index12"><img src="~/site/Images/Servoces/Img-12.jpg"
                                    class="mb-3 img-fluid rad12"></a>
                            <div class="d-flex flex-column covernews ">
                                <div
                                    class="d-flex flex-row justify-content-between px-3 text-white IRANSansWeb_Medium ">
                                    @* <span class="bottom_p"><i class="fas fa-clock ml-1"></i>98/5/9</span>
                                        <span><i class="fas fa-eye ml-1"></i>28 بار</span>
                                        <span><i class="fas fa-comment ml-1"></i>6</span> *@
                                </div>
                            </div>
                        </a>

                        <p>
                            سامانه ردیابی </p>
                        <a href="/singlepage/Index12" class="text-danger IRANSansWeb_Medium text-center mb-3">مشاهده خبر
                            »</a>
                    </div>
                </div>


            </div>

        </div>
        @* <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#">«</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item "><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">»</a></li>
            </ul> *@
    </div>
    </div>
</section>
