
							<div class="row">
								<!-- BASIC WIZARD -->
								<div class="col-xl-12">
									<div class="card m-b-20">
										<div class="card-header">
											<h2 class="mb-0">تکمیل اطلاعات </h2>
										</div>
										<div class="card-body">
											<form>
												<div id="basicwizard" class="border pt-0">
													<ul class="nav nav-tabs nav-justified">
														<li class="nav-item"><a href="#tab1" data-toggle="tab" class="nav-link ">اطلاعات هویتی </a></li>
														<li class="nav-item"><a href="#tab2" data-toggle="tab" class="nav-link ">اطلاعات ارتباطی
															</a></li>
														<li class="nav-item"><a href="#tab3" data-toggle="tab" class="nav-link">اطلاعات حساب</a></li>
														<li class="nav-item"><a href="#tab4" data-toggle="tab" class="nav-link ">میزان تحصیلات</a></li>
														<li class="nav-item"><a href="#tab5" data-toggle="tab" class="nav-link ">سوابق کاری
															</a></li>
														<li class="nav-item"><a href="#tab6" data-toggle="tab" class="nav-link">الصاق مدارک</a></li>
													</ul>
													<div class="tab-content card-body  b-0 mb-0">
														<div class="tab-pane fade" id="tab1">
															<div class="row">
																<div class="col-12">
																	<div class="form-group clearfix">

																		<div class="row mt-1">
																			
																			<div class="col-lg-3">
																				<input class="form-control required"  placeholder="نام به فارسی" type="text" >
																			</div>
																			<div class="col-lg-3">
																				<input class="form-control required"  placeholder="نام خانوادگی به فارسی" type="text">
																			</div>
																			<div class="col-lg-3">
																				<input class="form-control required"  placeholder="نام پدر به فارسی" type="text">
																			</div>
																			<div class="col-lg-3">
																				<input class="form-control required"  placeholder="کد ملی" type="text">
																			</div>
																			
																		      </div>




																		<div class="row mt-1">
																			
																			<div class="col-lg-3">
																				<input class="form-control required"  placeholder="نام به لاتین" type="text">
																			</div>
																			<div class="col-lg-3">
																				<input class="form-control required"  placeholder="نام خانوادگی به لاتین" type="text">
																			</div>
																			<div class="col-lg-3">
																				<input class="form-control required"  placeholder="نام پدر به لاتین" type="text">
																			</div>
																			<div class="col-lg-3">
																				<input class="form-control required"  placeholder="کد ملی " type="text">
																			</div>
																			
																		</div>

																			

																			<div class="row mt-1">
																			
																			
																			<div class="col-lg-3">
																				<input class="form-control required"  placeholder="محل صدور" type="text">
																			</div>
																			<div class="col-lg-3">
																				<input class="form-control required"  placeholder="سریال شناسنامه" type="text">
																			</div>
																			<div class="col-lg-3">
																				<input class="form-control required"  placeholder="مذهب" type="text">
																			</div>
																			<div class="col-lg-3">
																				<input class="form-control required"  placeholder="ایمیل" type="text">
																			</div>
																		</div>

																			<div class="row mt-2">
																			
																			<div class="col-lg-4">
																				@await Html.PartialAsync("_PrtialBirth")
																			</div>
																			<div class="col-lg-3">
																				<div class="form-group">
												<label class="form-label">انتخاب جنسیت</label>
												<select name="country" id="select-countries" class="form-control custom-select">
													<option value="male" >مرد
													</option>
													<option value="woman" d>زن
													</option>
													
												</select>
											</div>
																			</div>
																			<div class="col-lg-3">
																				<div class="form-group">
												<label class="form-label">وضعیت تاهل</label>
												<select name="country" id="select-countries" class="form-control custom-select">
													<option value="marid" >متاهل
													</option>
													<option value="single" d>مجرد
													</option>
													
												</select>
											</div>
																			</div>
																			
																			
																		</div>
																		
																	</div>
																	
																</div>
															</div>
														</div>
														<div class="tab-pane fade" id="tab2">
															<div class="row" >
																<p  >در حال بروز رسانی...</p>
																<div class="col-12 d-none">
																	
																	<div class="form-group clearfix ">
																		
																		<div class="row  ">
																			<div class="col-lg-3">
																				<label class="control-label form-label" for="name"> نام</label>
																			</div>
																			<div class="col-lg-9">
																				<input id="name" name="name" type="text" class="required form-control">
																			</div>
																		</div>
																	</div>
																	<div class="form-group clearfix">
																		<div class="row ">
																			<div class="col-lg-3">
																				<label class="control-label form-label" for="surname"> نام خانوادگی</label>
																			</div>
																			<div class="col-lg-9">
																				<input id="surname" name="surname" type="text" class="required form-control">
																			</div>
																		</div>
																	</div>
																	<div class="form-group clearfix">
																		<div class="row ">
																			<div class="col-lg-3">
																				<label class="control-label " for="email">ایمیل</label>
																			</div>
																			<div class="col-lg-9">
																				<input id="email" name="email" type="text" class="required email form-control">
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="tab-pane fade" id="tab3">
															<p >در حال بروز رسانی...</p>
															<div class="row d-none">
																<div class="col-12">
																	<div class="form-group clearfix">
																		<div class="checkbox checkbox-info">
																			<label class="custom-control custom-checkbox">
																				<input type="checkbox" class="custom-control-input">
																				<span class="custom-control-label text-dark pr-4">
																					با قوانین و مقررات موافقم</span>
																			</label>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="tab-pane fade" id="tab4">
																<p >در حال بروز رسانی...</p>
															<div class="row d-none">
																<div class="col-12">
																	<div class="form-group clearfix">
																		<div class="row ">
																			<div class="col-lg-3">
																				<label class="control-label form-label" for="userName">نام کاربر</label>
																			</div>
																			<div class="col-lg-9">
																				<input class="form-control required"  placeholder="" type="text">
																			</div>
																		</div>
																	</div>
																	<div class="form-group  clearfix">
																		<div class="row ">
																			<div class="col-lg-3">
																				<label class="control-label form-label " for="password"> رمز عبور</label>
																			</div>
																			<div class="col-lg-9">
																				<input id="password" name="password" type="text" class="required form-control">
																			</div>
																		</div>
																	</div>
																	<div class="form-group clearfix">
																		<div class="row ">
																			<div class="col-lg-3">
																				<label class="control-label form-label" for="confirm">تکرار رمز عبور</label>
																			</div>
																			<div class="col-lg-9">
																				<input id="confirm" name="confirm" type="text" class="required form-control">
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="tab-pane fade" id="tab5">
																<p >در حال بروز رسانی...</p>
															<div class="row d-none">
																<div class="col-12">
																	<div class="form-group clearfix">
																		<div class="row ">
																			<div class="col-lg-3">
																				<label class="control-label form-label" for="userName">نام کاربر</label>
																			</div>
																			<div class="col-lg-9">
																				<input class="form-control required"  placeholder="" type="text">
																			</div>
																		</div>
																	</div>
																	<div class="form-group  clearfix">
																		<div class="row ">
																			<div class="col-lg-3">
																				<label class="control-label form-label " for="password"> رمز عبور</label>
																			</div>
																			<div class="col-lg-9">
																				<input id="password" name="password" type="text" class="required form-control">
																			</div>
																		</div>
																	</div>
																	<div class="form-group clearfix">
																		<div class="row ">
																			<div class="col-lg-3">
																				<label class="control-label form-label" for="confirm">تکرار رمز عبور</label>
																			</div>
																			<div class="col-lg-9">
																				<input id="confirm" name="confirm" type="text" class="required form-control">
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="tab-pane fade" id="tab6">
															<p >در حال بروز رسانی...</p>
															<div class="row d-none">
																<div class="col-12">
																	<div class="form-group clearfix">
																		<div class="row ">
																			<div class="col-lg-3">
																				<label class="control-label form-label" for="userName">نام کاربر</label>
																			</div>
																			<div class="col-lg-9">
																				<input class="form-control required"  placeholder="" type="text">
																			</div>
																		</div>
																	</div>
																	<div class="form-group  clearfix">
																		<div class="row ">
																			<div class="col-lg-3">
																				<label class="control-label form-label " for="password"> رمز عبور</label>
																			</div>
																			<div class="col-lg-9">
																				<input id="password" name="password" type="text" class="required form-control">
																			</div>
																		</div>
																	</div>
																	<div class="form-group clearfix">
																		<div class="row ">
																			<div class="col-lg-3">
																				<label class="control-label form-label" for="confirm">تکرار رمز عبور</label>
																			</div>
																			<div class="col-lg-9">
																				<input id="confirm" name="confirm" type="text" class="required form-control">
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<ul class="list-inline wizard mb-0">
															<li class="previous list-inline-item"><a href="#" class="btn btn-primary mb-0 waves-effect waves-light">قبلی</a>
															</li>
															<li class="next list-inline-item float-left"><a href="#" class="btn btn-primary mb-0 waves-effect waves-light">بعدی</a>
															</li>
														</ul>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
							<!-- end row -->

							
							
						