@model ViewModels.AdminViewModel.Admin.Vm_info
<div class="row">
	<!-- BASIC WIZARD -->
	<div class="col-xl-12">
		<div class="card m-b-20">
			<div class="card-header">
				<h2 class="mb-0">تکمیل اطلاعات </h2>
			</div>
			<div class="card-body">
			        <form action="/Admin/Contact/Add " method="POST">
					<div id="basicwizard" class="border pt-0">
						<ul class="nav nav-tabs nav-justified">
							<li class="nav-item"><a href="#tab1" data-toggle="tab" class="nav-link ">اطلاعات هویتی </a>
							</li>
							<li class="nav-item"><a href="#tab2" data-toggle="tab" class="nav-link ">اطلاعات ارتباطی
								</a></li>
							<li class="nav-item"><a href="#tab3" data-toggle="tab" class="nav-link">اطلاعات حساب</a>
							</li>
							<li class="nav-item"><a href="#tab4" data-toggle="tab" class="nav-link ">میزان تحصیلات</a>
							</li>
							<li class="nav-item"><a href="#tab5" data-toggle="tab" class="nav-link ">سوابق کاری
								</a></li>
							<li class="nav-item"><a href="#tab6" data-toggle="tab" class="nav-link">الصاق مدارک</a></li>
							<li class="nav-item"><a href="#tab7" data-toggle="tab" class="nav-link">پرداخت هزینه</a>
							</li>
						</ul>
						<div class="tab-content card-body  b-0 mb-0">





							@await Html.PartialAsync("_Partial_account")

							@await Html.PartialAsync("_Partial_contact")

							@await Html.PartialAsync("_Partial_persenal")

							@await Html.PartialAsync("_Partial_Level")
							@await Html.PartialAsync("_Partial_documents")

















							@await Html.PartialAsync("_Partialupload")



							<div class="tab-pane fade" id="tab7">
								<div class="row">
									<div class="col-12">
										<div class="form-group clearfix">

											<div class="row mt-1">

												<div class="col-lg-6">
													<div class="card pull-up shadow bg-gradient-primary">
														<a href="">

															<div class="card-content">
																<div class="card-body">
																	<img src="~/admin/assets/img/circle.svg"
																		class="card-img-absolute" alt="circle-image">
																	<div class="media d-flex">
																		<div class="media-body text-right">
																			<h4 class="text-white">مراکز استان</h4>
																			<h2 class="text-white mb-0">60,000,000 تومان
																			</h2>
																		</div>
																		<div class="align-self-center">
																			<i
																				class="fe fe-shopping-cart text-white font-large-2 float-right"></i>
																		</div>
																	</div>
																</div>
															</div>
														</a>
													</div>
												</div>

												<div class="col-lg-6">
													<a href="">

														<div class="card pull-up shadow bg-gradient-warning">
															<div class="card-content">
																<div class="card-body">
																	<img src="~/admin/assets/img/circle.svg"
																		class="card-img-absolute" alt="circle-image">
																	<div class="media d-flex">
																		<div class="media-body text-right">
																			<h4 class="text-white">سایر شهرستان ها</h4>
																			<h2 class="text-white mb-0">40,000,000 تومان
																			</h2>
																		</div>
																		<div class="align-self-center">
																			<i
																				class="fe fe-bar-chart text-white font-large-2 float-right"></i>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</a>

												</div>


											</div>








										</div>

									</div>
								</div>
							</div>





							<ul class="list-inline wizard mb-0">
								<li class="previous list-inline-item"><a href="#"
										class="btn btn-primary mb-0 waves-effect waves-light">قبلی</a>
								</li>
								<li class="next list-inline-item float-left"><a href="#"
										class="btn btn-primary mb-0 waves-effect waves-light">بعدی</a>
								</li>
							</ul>
						</div>
					</div>

					</form>
				
			</div>
		</div>
	</div>
</div>
<!-- end row -->