
							<div class="row">
								<div class="col-md-6 col-lg-6 col-xl-3 ">
									<div class="card p-3 px-4 shadow">
										<div>کل درآمد</div>
										<div class="py-2 m-0 text-center h1 text-green">143,000 تومان</div>
										<div class="d-flex">
											<small class="text-muted">درآمد</small>
											<div class="ml-auto"><i class="fa fa-caret-up text-green"></i> 4%</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-6 col-xl-3">
									<div class="card p-3 px-4 shadow">
										<div>وضعیت سفارش</div>
										<div class="py-2 m-0 text-center h1 text-red">738</div>
										<div class="d-flex">
											<small class="text-muted">سفارش جدید</small>
											<div class="ml-auto">
												<i class="fa fa-caret-down text-red"></i> 10%</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-6 col-xl-3">
									<div class="card p-3 px-4 shadow">
										<div>وضعیت درآمد</div>
										<div class="py-2 m-0 text-center h1 text-blue">3,000 تومان</div>
										<div class="d-flex">
											<small class="text-muted">درآمد جدید</small>
											<div class="ml-auto"><i class="fa fa-caret-down text-red"></i> 0%</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-6 col-xl-3">
									<div class="card p-3 px-4 shadow">
										<div>وضعیت مشتری</div>
										<div class="py-2 m-0 text-center h1 text-yellow">118</div>
										<div class="d-flex">
											<small class="text-muted">کاربر جدید</small>
											<div class="ml-auto">
												<i class="fa fa-caret-up text-green"></i> 3%</div>
										</div>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4">
									<div class="card pull-up shadow bg-gradient-primary">
										<div class="card-content">
											<div class="card-body">
												<img src="~/admin/assets/img/circle.svg" class="card-img-absolute" alt="circle-image">
												<div class="media d-flex">
													<div class="media-body text-right">
														<h4 class="text-white">فروش</h4>
														<h2 class="text-white mb-0">88,000 تومان</h2>
													</div>
													<div class="align-self-center">
														<i class="fe fe-shopping-cart text-white font-large-2 float-right"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4">
									<div class="card pull-up shadow bg-gradient-warning">
										<div class="card-content">
											<div class="card-body">
												<img src="~/admin/assets/img/circle.svg" class="card-img-absolute" alt="circle-image">
												<div class="media d-flex">
													<div class="media-body text-right">
														<h4 class="text-white">سود</h4>
														<h2 class="text-white mb-0">25,000,000 تومان</h2>
													</div>
													<div class="align-self-center">
														<i class="fe fe-bar-chart text-white font-large-2 float-right"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4">
									<div class="card pull-up shadow bg-gradient-danger">
										<div class="card-content">
											<div class="card-body">
												<img src="~/admin/assets/img/circle.svg" class="card-img-absolute" alt="circle-image">
												<div class="media d-flex">
													<div class="media-body text-right">
														<h4 class="text-white">صندوق دریافت</h4>
														<h2 class="text-white mb-0">236</h2>
													</div>
													<div class="align-self-center">
														<i class="fe fe-mail success font-large-2 text-white float-right"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xl-6 col-lg-6">
									<div class="card shadow">
										<div class="card-body">
											<div class="row">
												<div class="col-xl-6">
													<div class="card shadow">
														<div class="card-body">
															<div class="widget text-center">
																<small class="text-muted">درآمد</small>
																<h2 class="text-xxl">834,000</h2>
																<p class="mb-0"><span class="text-success"><i class="fa fa-chevron-circle-up text-success ml-1"></i>
																		3%</span> ماه گذشته</p>
															</div>
														</div>
													</div>
													<div class="card shadow mb-xl-0">
														<div class="card-body">
															<div class="widget text-center">
																<small class="text-muted">سود</small>
																<h2 class="text-xxl">68,000</h2>
																<p class="mb-0"><span class="text-danger"><i class="fa fa-chevron-circle-down text-danger ml-1"></i>
																		2%</span> ماه گذشته</p>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-6">
													<div class="card shadow">
														<div class="card-body">
															<div class="widget text-center">
																<small class="text-muted">فروش</small>
																<h2 class="text-xxl">295</h2>
																<p class="mb-0"><span class="text-success"><i class="fa fa-chevron-circle-up text-success ml-1"></i>
																		5%</span> ماه گذشته</p>
															</div>
														</div>
													</div>
													<div class="card shadow mb-0">
														<div class="card-body">
															<div class="widget text-center">
																<small class="text-muted">مخارج</small>
																<h2 class="text-xxl">851,000</h2>
																<p class="mb-0"><span class="text-danger"><i class="fa fa-chevron-circle-down text-danger ml-1"></i>
																		4%</span> ماه گذشته</p>
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
								<div class="col-xl-6 col-lg-6">
									<div class="card shadow">
										<div class="card-body">
											<div class="row">
												<div class="col-xl-6">
													<div class="card shadow bg-primary">
														<div class="card-body">
															<div class="widget text-center text-white">
																<small class="text-white-50">کاربران جدید</small>
																<h2 class="text-xxl text-white">8342</h2>
																<p class="mb-0"><span class="text-white"><i class="fas fa-caret-up text-white ml-1"></i>
																		4%</span> ماه گذشته</p>
															</div>
														</div>
													</div>
													<div class="card shadow mb-xl-0 bg-yellow text-white">
														<div class="card-body">
															<div class="widget text-center">
																<small class="text-white-50">بازدید آنلاین</small>
																<h2 class="text-xxl text-white">2568</h2>
																<p class="mb-0"><span class="text-white"><i class="fas fa-caret-down text-white ml-1"></i>
																		5%</span> ماه گذشته</p>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-6">
													<div class="card shadow bg-warning text-white">
														<div class="card-body">
															<div class="widget text-center">
																<small class="text-white-50">نرخ سود</small>
																<h2 class="text-xxl text-white">29%</h2>
																<p class="mb-0"><span class="text-white"><i class="fas fa-caret-up text-white ml-1"></i>
																		6%</span> ماه گذشته</p>
															</div>
														</div>
													</div>
													<div class="card shadow mb-0 bg-success text-white">
														<div class="card-body">
															<div class="widget text-center">
																<small class="text-white-50">به روز رسانی</small>
																<h2 class="text-xxl text-white">851</h2>
																<p class="mb-0"><span class="text-white"><i class="fas fa-caret-down text-white ml-1"></i>
																		8%</span> ماه گذشته</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row ">
								<div class="col-lg-6 col-md-12">
									<div class="card shadow">
										<div class="card-body">
											<div class="row">
												<div class="col-sm-6">
													<div class="chart-circle" data-value="0.55" data-thickness="4" data-color="#5797fc"><canvas width="128" height="128"></canvas><canvas width="128" height="128"></canvas>
														<div class="chart-circle-value">
															<div class="h2">1800 </div><small>کاربر</small>
														</div>
													</div>
												</div>
												<div class="col-sm-6 mt-4 mt-sm-0">
													<div class="chart-circle" data-value="0.33" data-thickness="4" data-color="#17a2b8"><canvas width="128" height="128"></canvas><canvas width="128" height="128"></canvas>
														<div class="chart-circle-value">
															<div class="h2">1350</div> <small>پروژه</small>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-12">
									<div class="card shadow">
										<div class="card-body">
											<div class="row">
												<div class="col-sm-6">
													<div class="chart-circle" data-value="0.25" data-thickness="4" data-color="#5797fc"><canvas width="128" height="128"></canvas><canvas width="128" height="128"></canvas>
														<div class="chart-circle-value">
															<div class="h2">1098</div> <small>بازدیدکننده</small>
														</div>
													</div>
												</div>
												<div class="col-sm-6 mt-4 mt-sm-0">
													<div class="chart-circle" data-value="0.78" data-thickness="4" data-color="#4ecc48"><canvas width="128" height="128"></canvas><canvas width="128" height="128"></canvas>
														<div class="chart-circle-value">
															<div class="h2">1334</div> <small>مشتری</small>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-3 col-lg-6 col-md-6">
									<div class="card shadow bg-primary">
										<div class="card-body pb-0">
											<div class="widget text-center">
												<small class="text-white h3">کاربران جدید</small>
												<h2 class="text-xxl text-white">8342</h2>
											</div>
										</div>
										<span class="bar" data-peity='{ "fill": ["rgba(255,255,255,0.2)", "rgba(255,255,255,0.5)"]}'>5,4,5,2,8,4,5,6,5,2,4,4,8,4,6,2,3,4</span>
									</div>
								</div>
								<div class="col-xl-3 col-lg-6 col-md-6">
									<div class="card shadow bg-yellow">
										<div class="card-body pb-0">
											<div class="widget text-center">
												<small class="text-white h3">بازدیدکننده آنلاین</small>
												<h2 class="text-xxl text-white">2568</h2>
											</div>
										</div>
										<span class="bar" data-peity='{ "fill": ["rgba(255,255,255,0.2)", "rgba(255,255,255,0.5)"]}'>1,2,3,2,4,3,5,3,4,3,5,6,7,8,9,7,5,6</span>
									</div>
								</div>
								<div class="col-xl-3 col-lg-6 col-md-6">
									<div class="card shadow bg-warning">
										<div class="card-body pb-0">
											<div class="widget text-center">
												<small class=" h3 text-white">نرخ سود</small>
												<h2 class="text-xxl text-white">29%</h2>
											</div>
										</div>
										<span class="bar" data-peity='{ "fill": ["rgba(255,255,255,0.2)", "rgba(255,255,255,0.5)"]}'>2,3,6,5,7,8,6,3,5,4,1,2,3,6,5,4,7,8</span>
									</div>
								</div>
								<div class="col-xl-3 col-lg-6 col-md-6">
									<div class="card shadow bg-success">
										<div class="card-body pb-0">
											<div class="widget text-center">
												<small class="text-white h3">به روز رسانی</small>
												<h2 class="text-xxl text-white">851</h2>
											</div>
										</div>
										<span class="bar" data-peity='{ "fill": ["rgba(255,255,255,0.2)", "rgba(255,255,255,0.5)"]}'>2,3,6,5,7,8,6,3,5,4,1,2,3,6,5,4,7,8</span>
									</div>
								</div>
								<div class="col-sm-6 col-lg-3 col-xl-3">
									<div class="card socailicons twitter1">
										<div class="card-body  mb-0">
											<small class="social-title">توییتر</small>
											<h3 class="text-xxl text-white  mb-0">2175</h3>
											<i class="fab fa-twitter"></i>
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-lg-3 col-xl-3">
									<div class="card socailicons google-plus1">
										<div class="card-body  mb-0">
											<small class="social-title">گوگل</small>
											<h3 class="text-xxl text-white  mb-0">2175</h3>
											<i class="fab fa-google"></i>
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-lg-3 col-xl-3">
									<div class="card socailicons facebook-like1">
										<div class="card-body  mb-0">
											<small class="social-title">فیسبوک</small>
											<h3 class="text-xxl text-white  mb-0">2175</h3>
											<i class="fab fa-facebook-f"></i>
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-lg-3 col-xl-3">
									<div class="card socailicons pinterest1">
										<div class="card-body  mb-0">
											<small class="social-title">پینترست</small>
											<h3 class="text-xxl text-white mb-0">2175</h3>
											<i class="fab fa-pinterest-p"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6 col-lg-6 col-xl-3 ">
									<div class="card shadow text-center">
										<div class="card-body">
											<div class="icon text-center mx-auto">
												<i class="glyphicon glyphicon-user text-primary"></i>
											</div>
											<div class="text">
												<h1 class="mb-0">30</h1>
												<label class="text-muted">مهمان دعوت شده</label>
											</div>
											<div class="options mt-3">
												<a href="javascript:;" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i> افزودن یک مهمان</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-lg-6 col-xl-3">
									<div class="card shadow text-center">
										<div class="card-body">
											<div class="icon mx-auto">
												<i class="glyphicon glyphicon-star text-warning"></i>
											</div>
											<div class="text">
												<h1 class="mb-0">614</h1>
												<label class="text-muted">صفحه مورد پسند</label>
											</div>
											<div class="options mt-3">
												<a href="javascript:;" class="btn btn-warning btn-sm"><i class="glyphicon glyphicon-search"></i> مشاهده صفحات</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-lg-6 col-xl-3">
									<div class="card shadow text-center">
										<div class="card-body">
											<div class="icon mx-auto">
												<i class="glyphicon glyphicon-tags text-success"></i>
											</div>
											<div class="text">
												<h1 class="mb-0">73</h1>
												<label class="text-muted">مجموع سفارشات</label>
											</div>
											<div class="options mt-3">
												<a href="javascript:;" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-search"></i> مشاهده سفارشات</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-lg-6 col-xl-3">
									<div class="card shadow text-center">
										<div class="card-body">
											<div class="icon mx-auto">
												<i class="glyphicon glyphicon-cog text-danger"></i>
											</div>
											<div class="text">
												<h1 class="mb-0">75%</h1>
												<label class="text-muted">کل سود</label>
											</div>
											<div class="options mt-3">
												<a href="javascript:;" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-wrench"></i> ویرایش پروفایل</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="friend-list">
								<div class="row">
									<div class="col-lg-4  col-sm-12">
										<div class="friend-card card shadow">
											<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
											<div class="card-info">
												<img src="~/admin/assets/img/faces/female/3.jpg" alt="user" class="profile-photo-lg">
												<div class="friend-info">
													<a href="#" class="float-left btn btn-sm btn-primary btn-pill">دوستان من</a>
													<h3 class=" mb-0"><a href="timeline.html" class="profile-link">مریم
															معصومی</a></h3>
													<p class="text-sm mb-0">دانشجو دانشگاه</p>
												</div>
											</div>
										</div>
									</div>

									<div class="col-lg-4  col-sm-12">
										<div class="friend-card card shadow">
											<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
											<div class="card-info">
												<img src="~/admin/assets/img/faces/male/3.jpg" alt="user" class="profile-photo-lg">
												<div class="friend-info">
													<a href="#" class="float-left btn btn-sm btn-primary btn-pill">دوستان من</a>
													<h3 class="mb-0"><a href="timeline.html" class="profile-link">رضا
															رسولی</a></h3>
													<p class="text-sm mb-0">دانشجو دانشگاه</p>
												</div>
											</div>
										</div>
									</div>

									<div class="col-lg-4 col-sm-12">
										<div class="friend-card card shadow">
											<img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
											<div class="card-info">
												<img src="~/admin/assets/img/faces/female/13.jpg" alt="user" class="profile-photo-lg">
												<div class="friend-info">
													<a href="#" class="float-left btn btn-sm btn-primary btn-pill">دوستان من</a>
													<h3 class="mb-0"><a href="timeline.html" class="profile-link">معصومه
															کریمی</a></h3>
													<p class="text-sm mb-0">مدیر دانشگاه</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
