<div class="row tab-pane">
    <div class="col-md-12">
        <div class="content content-full-width" id="content">
            <!-- begin profile-content -->
            <div class="profile-content">
                <!-- begin tab-content -->
                <div class="tab-content p-0">
                    <!-- begin #profile-friends tab -->
                    <div class="tab-pane fade in active show" id="profile-friends">
                        <!-- begin row -->
                        <div class="row">
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">انتقال وجه بین بانکی ساتنا</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <button class="btn btn-sm btn-primary  d-sm-block" type="button">درخواست
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">گزارش انتقال وجه ساتنا</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <button class="btn btn-sm btn-primary  d-sm-block" type="button">درخواست
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                        </div><!-- end row -->
                    </div><!-- end #profile-friends tab -->
                </div><!-- end tab-content -->
            </div><!-- end profile-content -->
        </div>
    </div>
</div>