<div class="friend-list">
    <div class="row">

        <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Enteghal/Card" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="timeline.html" class="profile-link"> کارت</a></h3>
                        <p class="text-sm mb-0">خدمات کارت</p>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Enteghal/B_Paya" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="timeline.html" class="profile-link"> بین بانکی - پایا</a></h3>
                        <p class="text-sm mb-0">خدمات بین بانکی - پایا</p>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Enteghal/B_Satena" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="timeline.html" class="profile-link"> بین بانکی - ساتنا</a></h3>
                        <p class="text-sm mb-0">خدمات بین بانکی - ساتنا</p>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-lg-4  col-sm-12">
            <div class="friend-card card shadow">
                <img src="~/admin/assets/img/bg3.jpg" alt="profile-cover" class="img-responsive cover">
                <div class="card-info">
                    <img src="~/admin/assets/img/icons/seporde.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                        <a href="/admin/Enteghal/Dakheli" class="float-left btn btn-sm btn-primary btn-pill">مشاهده
                            خدمات</a>
                        <h3 class=" mb-0"><a href="timeline.html" class="profile-link"> داخلی</a></h3>
                        <p class="text-sm mb-0">خدمات داخلی</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>