<p>
  <a href="ttps://oauth.sandbox.faraboom.co/oauth/authorize?client_id=13457&device_id=192.168.1.1&response_type=code&state=Good&bank_id=BOOMIR&boom_token=XBUFGGeJ1t8IBlPxhd6nQRm0dBQo9CJiUX1UrSvRp73c7KEIj5PTY670yhV0NzVMVoN84ecHMzU3A40ktm8jrE&redirect_uri=https://localhost:5001/admin/OAuth/Check&mobile=0912123145&national_code=1008167541"    
  class="btn btm-success"> دریافت توکن بانکی</a>
  
</p>