<div class="row tab-pane">
    <div class="col-md-12">
        <div class="content content-full-width" id="content">
            <!-- begin profile-content -->
            <div class="profile-content">
                <!-- begin tab-content -->
                <div class="tab-content p-0">
                    <!-- begin #profile-friends tab -->
                    <div class="tab-pane fade in active show" id="profile-friends">
                        <!-- begin row -->
                        <div class="row">
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">دریافت اطلاعات نام مشتری</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <button class="btn btn-sm btn-primary  d-sm-block" type="button">درخواست
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">دریافت لیست سپرده ها</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <button class="btn btn-sm btn-primary  d-sm-block" type="button">درخواست
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">دریافت جزییات سپرده</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <button class="btn btn-sm btn-primary  d-sm-block" type="button">درخواست
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">دریافت صورت حساب</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <button class="btn btn-sm btn-primary  d-sm-block" type="button">درخواست
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">دریافت نام صاحب سپرده</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <button class="btn btn-sm btn-primary  d-sm-block" type="button">درخواست
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">نرخ سود سپرده</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <button class="btn btn-sm btn-primary  d-sm-block" type="button">درخواست
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">تبدیل شماره سپرده به شبا</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <button class="btn btn-sm btn-primary  d-sm-block" type="button">درخواست
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">افتتاح سپرده</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <button class="btn btn-sm btn-primary  d-sm-block" type="button">درخواست
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">انطباق کد ملی و حساب/شبا</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <button class="btn btn-sm btn-primary  d-sm-block" type="button">درخواست
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">مسدودی سپرده وکالتی</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <button class="btn btn-sm btn-primary  d-sm-block" type="button">درخواست
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">رفع مسدودی سپرده وکالتی</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <button class="btn btn-sm btn-primary  d-sm-block" type="button">درخواست
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">انتقال مبلغ مسدودی وکالتی</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <button class="btn btn-sm btn-primary  d-sm-block" type="button">درخواست
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">سرویس افزایش مبلغ مسدودی وکالتی</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <button class="btn btn-sm btn-primary  d-sm-block" type="button">درخواست
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">سرویس گزارش مسدودی های وکالتی</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <button class="btn btn-sm btn-primary  d-sm-block" type="button">درخواست
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">ثبت قرارداد مشتری وکالتی</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <button class="btn btn-sm btn-primary  d-sm-block" type="button">درخواست
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">انتساب مشتری به کسب و کار</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <button class="btn btn-sm btn-primary  d-sm-block" type="button">درخواست
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">انتساب سپرده وکالتی</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <button class="btn btn-sm btn-primary  d-sm-block" type="button">درخواست
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">گزارش سپرده های در اختیار وکالتی</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <button class="btn btn-sm btn-primary  d-sm-block" type="button">درخواست
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">فعال سازی سپرده وکالتی در اختیار</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <button class="btn btn-sm btn-primary  d-sm-block" type="button">درخواست
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">انتقال وجه وکالتی</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <button class="btn btn-sm btn-primary  d-sm-block" type="button">درخواست
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">خلاصه صورتحساب روزانه سپرده</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <button class="btn btn-sm btn-primary  d-sm-block" type="button">درخواست
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">فهرست انواع سپرده های قابل افتتاح</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <button class="btn btn-sm btn-primary  d-sm-block" type="button">درخواست
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->




                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">انتقال وجه تجمیعی</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <button class="btn btn-sm btn-primary  d-sm-block" type="button">درخواست
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">دریافت صورتحساب های پرونده اعتباری</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <button class="btn btn-sm btn-primary  d-sm-block" type="button">درخواست
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <!-- end col-6 -->
                            <div class="col-md-4">
                                <div class="card border shadow">
                                    <div class="media card-body media-xs overflow-visible">
                                        <div class="media-body valign-middle">
                                            <b class="text-inverse">فهرست پرونده های اعتباری</b>
                                        </div>
                                        <div class="media-body valign-middle text-right overflow-visible">
                                            <div class="btn-group float-left">
                                                <button class="btn btn-sm btn-primary  d-sm-block" type="button">درخواست
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-6 -->



                        </div><!-- end row -->
                    </div><!-- end #profile-friends tab -->
                </div><!-- end tab-content -->
            </div><!-- end profile-content -->
        </div>
    </div>
</div>