<div class="row ">
    <div class="col-sm-6 col-lg-3 col-xl-3 hvr-pulse">
        <a href="#">
            <div class="card socailicons twitter1">
                <div class="card-body  mb-0">
                    <small class="social-title">پرداخت قبض از طریق کارت</small>
                    <h3 class="text-xxl text-white mb-0">2175</h3>
                    <i class="fab"> <img src="~/admin/assets/img/nikatekk.png" alt=""></i>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3 col-xl-3  hvr-pulse">
        <a href="#">
            <div class="card socailicons google-plus1">
                <div class="card-body  mb-0">
                    <small class="social-title">  قبض براساس شناسه و نوع قبض</small>
                    <h3 class="text-xxl text-white mb-0">2175</h3>
                    <i class="fab"> <img src="~/admin/assets/img/nikatekk.png" alt=""></i>
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-6 col-lg-3 col-xl-3  hvr-pulse">
        <a href="#">
            <div class="card socailicons facebook-like1">
                <div class="card-body  mb-0">
                    <small class="social-title">پرداخت قبض با سپرده</small>
                    <h3 class="text-xxl text-white mb-0">2175</h3>
                    <i class="fab"> <img src="~/admin/assets/img/nikatekk.png" alt=""></i>
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-6 col-lg-3 col-xl-3  hvr-pulse">
        <a href="#">
            <div class="card socailicons pinterest1">
                <div class="card-body  mb-0">
                    <small class="social-title"> پرداخت دسته ای قبوض با کارت </small>
                    <h3 class="text-xxl text-white mb-0">2175</h3>
                    <i class="fab"> <img src="~/admin/assets/img/nikatekk.png" alt=""></i>
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-6 col-lg-3 col-xl-3  hvr-pulse">
        <a href="#">
            <div class="card socailicons google-plus1">
                <div class="card-body  mb-0">
                    <small class="social-title"> پرداخت قبوض دسته‌ای با سپرده</small>
                    <h3 class="text-xxl text-white mb-0">2175</h3>
                    <i class="fab"> <img src="~/admin/assets/img/nikatekk.png" alt=""></i>
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-6 col-lg-3 col-xl-3  hvr-pulse">
        <a href="#">
            <div class="card socailicons facebook-like1">
                <div class="card-body  mb-0">
                    <small class="social-title">دریافت گزارش قبوض پرداخت شده</small>
                    <h3 class="text-xxl text-white mb-0">2175</h3>
                    <i class="fab"> <img src="~/admin/assets/img/nikatekk.png" alt=""></i>
                </div>
            </div>
        </a>
    </div>


    <div class="col-sm-6 col-lg-3 col-xl-3  hvr-pulse">
        <a href="#">
            <div class="card socailicons pinterest1">
                <div class="card-body  mb-0">
                    <small class="social-title"> پرداخت قبوض خاص با کارت </small>
                    <h3 class="text-xxl text-white mb-0">2175</h3>
                    <i class="fab"> <img src="~/admin/assets/img/nikatekk.png" alt=""></i>
                </div>
            </div>
        </a>
    </div>

</div>