<div class="row ">
    <div class="col-sm-6 col-lg-3 col-xl-3  hvr-pulse">
        <a href="#">
            <div class="card socailicons pinterest1">
                <div class="card-body  mb-0">
                    <small class="social-title"> استعلام بدهی قبض آب</small>
                    <h3 class="text-xxl text-white mb-0">2175</h3>
                    <i class="fab"> <img src="~/admin/assets/img/nikatekk.png" alt=""></i>
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-6 col-lg-3 col-xl-3 hvr-pulse">
        <a href="#">
            <div class="card socailicons twitter1">
                <div class="card-body  mb-0">
                    <small class="social-title">استعلام دسته‌ای بدهی قبوض آب</small>
                    <h3 class="text-xxl text-white mb-0">2175</h3>
                    <i class="fab"> <img src="~/admin/assets/img/nikatekk.png" alt=""></i>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3 col-xl-3  hvr-pulse">
        <a href="#">
            <div class="card socailicons google-plus1">
                <div class="card-body  mb-0">
                    <small class="social-title"> استعلام بدهی قبض برق</small>
                    <h3 class="text-xxl text-white mb-0">2175</h3>
                    <i class="fab"> <img src="~/admin/assets/img/nikatekk.png" alt=""></i>
                </div>
            </div>
        </a>
    </div>
        <div class="col-sm-6 col-lg-3 col-xl-3 hvr-pulse">
            <a href="#">
                <div class="card socailicons twitter1">
                    <div class="card-body  mb-0">
                        <small class="social-title">استعلام دسته‌ای بدهی قبوض برق</small>
                        <h3 class="text-xxl text-white mb-0">2175</h3>
                        <i class="fab"> <img src="~/admin/assets/img/nikatekk.png" alt=""></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3 col-xl-3  hvr-pulse">
            <a href="#">
                <div class="card socailicons google-plus1">
                    <div class="card-body  mb-0">
                        <small class="social-title"> استعلام بدهی قبض گاز</small>
                        <h3 class="text-xxl text-white mb-0">2175</h3>
                        <i class="fab"> <img src="~/admin/assets/img/nikatekk.png" alt=""></i>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-lg-3 col-xl-3  hvr-pulse">
            <a href="#">
                <div class="card socailicons facebook-like1">
                    <div class="card-body  mb-0">
                        <small class="social-title">استعلام دسته‌ای بدهی قبوض گاز</small>
                        <h3 class="text-xxl text-white mb-0">2175</h3>
                        <i class="fab"> <img src="~/admin/assets/img/nikatekk.png" alt=""></i>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-lg-3 col-xl-3  hvr-pulse">
            <a href="#">
                <div class="card socailicons pinterest1">
                    <div class="card-body  mb-0">
                        <small class="social-title"> استعلام بدهی قبض تلفن</small>
                        <h3 class="text-xxl text-white mb-0">2175</h3>
                        <i class="fab"> <img src="~/admin/assets/img/nikatekk.png" alt=""></i>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-lg-3 col-xl-3  hvr-pulse">
            <a href="#">
                <div class="card socailicons google-plus1">
                    <div class="card-body  mb-0">
                        <small class="social-title"> استعلام دسته‌ای بدهی قبوض تلفن</small>
                        <h3 class="text-xxl text-white mb-0">2175</h3>
                        <i class="fab"> <img src="~/admin/assets/img/nikatekk.png" alt=""></i>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-lg-3 col-xl-3  hvr-pulse">
            <a href="#">
                <div class="card socailicons facebook-like1">
                    <div class="card-body  mb-0">
                        <small class="social-title">استعلام بدهی قبض تلفن همراه</small>
                        <h3 class="text-xxl text-white mb-0">2175</h3>
                        <i class="fab"> <img src="~/admin/assets/img/nikatekk.png" alt=""></i>
                    </div>
                </div>
            </a>
        </div>










        <div class="col-sm-6 col-lg-3 col-xl-3  hvr-pulse">
            <a href="#">
                <div class="card socailicons pinterest1">
                    <div class="card-body  mb-0">
                        <small class="social-title"> استعلام دسته‌ای بدهی قبوض تلفن همراه</small>
                        <h3 class="text-xxl text-white mb-0">2175</h3>
                        <i class="fab"> <img src="~/admin/assets/img/nikatekk.png" alt=""></i>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-lg-3 col-xl-3  hvr-pulse">
            <a href="#">
                <div class="card socailicons google-plus1">
                    <div class="card-body  mb-0">
                        <small class="social-title"> استعلام بدهی خلافی خودرو و موتورسیکلت</small>
                        <h3 class="text-xxl text-white mb-0">2175</h3>
                        <i class="fab"> <img src="~/admin/assets/img/nikatekk.png" alt=""></i>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-lg-3 col-xl-3  hvr-pulse">
            <a href="#">
                <div class="card socailicons facebook-like1">
                    <div class="card-body  mb-0">
                        <small class="social-title">استعلام دسته‌ای بدهی خلافی خودرو و موتور سیکلت</small>
                        <h3 class="text-xxl text-white mb-0">2175</h3>
                        <i class="fab"> <img src="~/admin/assets/img/nikatekk.png" alt=""></i>
                    </div>
                </div>
            </a>
        </div>

</div>