<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar ">
	<div class="sidebar-img">
		<a href="#"class="navbar-brand" href="index-ldf-2.html"><img alt="..." class="navbar-brand-img main-logo"
				src="~/admin/assets/img/brand/logolight1.png"> <img alt="..." class="navbar-brand-img logo"
				src="~/admin/assets/img/brand/logo.png"></a>
		<ul class="side-menu">
			<li class="slide">
				<a href="#"class="side-menu__item active" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-home"></i><span class="side-menu__label">سپرده</span><i
						class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="# class="slide-item" href="index-ldf-2.html">دریافت اطلاعات نام مشتری</a>
					</li>
					<li>
						<a href="#"class="slide-item" href="dashboard-social.html">دریافت لیست سپرده ها</a>
					</li>
					<li>
						<a href="#"class="slide-item" href="dashboard-marketing.html">دریافت جزییات سپرده</a>
					</li>
					<li>
						<a href="#"class="slide-item" href="dashboard-it.html">دریافت صورت حساب</a>
					</li>
					<li>
						<a href="#"class="slide-item" href="dashboard-cryptocurrency.html">دریافت نام صاحب سپرده</a>
					</li>

					<li>
						<a href="#"class="slide-item" href="dashboard-cryptocurrency.html">نرخ سود سپرده</a>
					</li>
					<li>
						<a href="#"class="slide-item" href="dashboard-cryptocurrency.html">تبدیل شماره سپرده به شبا</a>
					</li>
					<li>
						<a href="#"class="slide-item" href="dashboard-cryptocurrency.html">افتتاح سپرده</a>
					</li>
					<li>
						<a href="#"class="slide-item" href="dashboard-cryptocurrency.html">انطباق کد ملی و حساب / شبا</a>
					</li>

					<li>
						<a href="#"class="slide-item" href="dashboard-cryptocurrency.html">مسدودی سپرده وکالتی</a>
					</li>
					<li>
						<a href="#"class="slide-item" href="dashboard-cryptocurrency.html">رفع مسدودی سپرده وکالتی</a>
					</li>
					<li>
						<a href="#"class="slide-item" href="dashboard-cryptocurrency.html">انتقال مبلغ مسدودی وکالتی</a>
					</li>
					<li>
						<a href="#"class="slide-item" href="dashboard-cryptocurrency.html">سرویس افزایش مبلغ مسدودی وکالتی</a>
					</li>
					<li>
						<a href="#"class="slide-item" href="dashboard-cryptocurrency.html">سرویس گزارش مسدودی های وکالتی</a>
					</li>
					<li>
						<a href="#"class="slide-item" href="dashboard-cryptocurrency.html">ثبت قرارداد مشتری وکالتی</a>
					</li>
					<li>
						<a href="#"class="slide-item" href="dashboard-cryptocurrency.html">انتساب مشتری به کسب و کار وکالتی</a>
					</li>
					<li>
						<a href="#"class="slide-item" href="dashboard-cryptocurrency.html">انتساب سپرده وکالتی</a>
					</li>
					<li>
						<a href="#"class="slide-item" href="dashboard-cryptocurrency.html">گزارش سپرده های در اختیار وکالتی</a>
					</li>
					<li>
						<a href="#"class="slide-item" href="dashboard-cryptocurrency.html">فعال سازی سپرده وکالتی در اختیار</a>
					</li>
					<li>
						<a href="#"class="slide-item" href="dashboard-cryptocurrency.html">انتقال وجه وکالتی</a>
					</li>
					<li>
						<a href="#"class="slide-item" href="dashboard-cryptocurrency.html"> خلاصه صورتحساب روزانه سپرده </a>
					</li>
					<li>
						<a href="#"class="slide-item" href="dashboard-cryptocurrency.html"> فهرست انواع سپرده های قابل افتتاح
						</a>
					</li>
					<li>
						<a href="#"class="slide-item" href="dashboard-cryptocurrency.html"> تطبیق شماره موبایل و حساب / شبا </a>
					</li>
					<li>
						<a href="#"class="slide-item" href="dashboard-cryptocurrency.html"> پرداخت قبض با شناسه </a>
					</li>
					<li>
						<a href="#"class="slide-item" href="dashboard-cryptocurrency.html"> میانگین موجودی </a>
					</li>
					<li>
						<a href="#"class="slide-item" href="dashboard-cryptocurrency.html"> پرداخت صورت حساب پرونده اعتباری </a>
					</li>
					<li>
						<a href="#"class="slide-item" href="dashboard-cryptocurrency.html"> انتقال وجه تجمیعی </a>
					</li>
					<li>
						<a href="#"class="slide-item" href="dashboard-cryptocurrency.html"> دریافت صورتحساب های پرونده اعتباری
						</a>
					</li>
					<li>
						<a href="#"class="slide-item" href="dashboard-cryptocurrency.html"> فهرست پرونده های اعتباری </a>
					</li>




				</ul>
			</li>
			<li class="slide">
				<a href="#"class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fe fe-grid"></i><span
						class="side-menu__label">انتقال وجه</span><i class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="/adminsite/MoneyTransfer/card" class="slide-item">کارت </a>
					</li>
					<li>
						<a href="/adminsite/MoneyTransfer/paya" class="slide-item"> بین بانکی - پایا</a>
					</li>
					<li>
						<a href="/adminsite/MoneyTransfer/satna" class="slide-item"> بین بانکی - ساتنا</a>
					</li>
					<li>
						<a href="/adminsite/MoneyTransfer/internal" class="slide-item">داخلی</a>
					</li>

				</ul>
			</li>

			<li class="slide">
				<a href="#"class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fe fe-edit"></i><span
						class="side-menu__label">قبض و شارژ</span><i class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="/adminsite/Charge/bill" class="slide-item">قبض </a>
					</li>
					<li>
						<a href="/adminsite/Charge/Invoicebill" class="slide-item">استعلام قبض بر اساس شناسه </a>
					</li>
					<li>
						<a href="/adminsite/Charge/Municipality" class="slide-item">شهرداری </a>
					</li>
					<li>
						<a href="/adminsite/Charge/Charge" class="slide-item">شارژ </a>
					</li>
				</ul>
			</li>
			<li class="slide">
				<a href="#"class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fe fe-map"></i><span
						class="side-menu__label">چک</span><i class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="#"href="maps.html" class="slide-item">لیست دسته چک های سپرده</a>
					</li>
					<li>
						<a href="#"href="vector-map.html" class="slide-item">لیست چکهای دسته چک</a>
					</li>

					<li>
						<a href="#"href="maps.html" class="slide-item">لیست چک های واگذار شده</a>
					</li>
					<li>
						<a href="#"href="vector-map.html" class="slide-item">مسدود کردن برگه چک</a>
					</li>
					<li>
						<a href="#"href="vector-map.html" class="slide-item">ثبت درخواست دسته چک</a>
					</li>
				</ul>
			</li>
			<li class="slide">
				<a href="#"class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-file-text"></i><span class="side-menu__label">تسهیلات</span><i
						class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="#"href="tables.html" class="slide-item">دریافت جزئیات تسهیلات</a>
					</li>
					<li>
						<a href="#"href="datatable.html" class="slide-item">دریافت مشخصات صاحب تسهیلات</a>
					</li>
					<li>
						<a href="#"href="tables.html" class="slide-item">فهرست تسهیلات</a>
					</li>
					<li>
						<a href="#"href="datatable.html" class="slide-item">پرداخت تسهیلات با سپرده</a>
					</li>
					<li>
						<a href="#"href="tables.html" class="slide-item">پرداخت تسهیلات با کارت</a>
					</li>

				</ul>
			</li>
			<li class="slide">
				<a href="#"class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-bar-chart-2"></i><span class="side-menu__label">عمومی</span><i
						class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="#"href="chart-flot.html" class="slide-item">دریافت لیست شعب بانک</a>
					</li>
					<li>
						<a href="#"href="chart-high.html" class="slide-item">استعلام تراکنش </a>
					</li>
					<li>
						<a href="#"href="charts-chartjs.html" class="slide-item">استعلام شماره شبا</a>
					</li>
				</ul>
			</li>
			<li class="slide">
				<a href="#"class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-folder"></i><span class="side-menu__label">پیمان</span><i
						class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="#"href="user-profile.html" class="slide-item">لاگین پیمان</a>
					</li>
					<li>
						<a href="#"href="email-inbox.html" class="slide-item">لیست دسترسی های موسسه</a>
					</li>
					<li>
						<a href="#"href="email-compose.html" class="slide-item">ایجاد پیمان</a>
					</li>
					<li>
						<a href="#"href="gallery.html" class="slide-item">دریافت شناسه پیمان</a>
					</li>
					<li>
						<a href="#"href="invoice.html" class="slide-item">پیگیری ایجاد یک پیمان</a>
					</li>
					<li>
						<a href="#"href="pricing.html" class="slide-item">برداشت وجه مستقیم</a>
					</li>
					<li>
						<a href="#"href="empty.html" class="slide-item">پیگیری برداشت وجه مستقیم</a>
					</li>
					<li>
						<a href="#"href="under-construction.html" class="slide-item">پرداخت قبض</a>
					</li>
					<li>
						<a href="#"href="400.html" class="slide-item">لیست پیمان‌ها</a>
					</li>
					<li>
						<a href="#"href="404.html" class="slide-item">تغییر وضعیت پیمان</a>
					</li>
					<li>
						<a href="#"href="500.html" class="slide-item">گزارش آماری یک پیمان</a>
					</li>
					<li>
						<a href="#"href="505.html" class="slide-item">تراکنش های پیمان</a>
					</li>
					<li>
						<a href="#"href="505.html" class="slide-item">بروز رسانی پیمان</a>
					</li>
				</ul>
			</li>
			<li class="slide">
				<a href="#"class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-italic"></i><span class="side-menu__label">توانم</span><i
						class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="#"href="icons-feather.html" class="slide-item"> دریافت فاکتور توانم</a>
					</li>
					<li>
						<a href="#"href="icons-fontawesome.html" class="slide-item">ارسال رمز یکبار مصرف توانم</a>
					</li>
					<li>
						<a href="#"href="icons-ion.html" class="slide-item">ارسال مجدد رمز یکبارمصرف توانم </a>
					</li>
					<li>
						<a href="#"href="icons-materialdesign.html" class="slide-item">گزارش توانم </a>
					</li>
					<li>
						<a href="#"href="icons-nucleo.html" class="slide-item">گزارش پیشرفته توانم </a>
					</li>
				</ul>
			</li>
			<li class="slide">
				<a href="#"class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-underline"></i><span class="side-menu__label">کارپوشه </span><i
						class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="#"href="accordion.html" class="slide-item">انتقال وجه عادی کارتابلی</a>
					</li>
					<li>
						<a href="#"href="alerts.html" class="slide-item">انتقال وجه پایا کارتابلی</a>
					</li>
					<li>
						<a href="#"href="badges.html" class="slide-item">انتقال وجه ساتنا کارتابلی</a>
					</li>
					<li>
						<a href="#"href="buttons.html" class="slide-item">گزارش تاییدکنندگان بالقوه کارتابل</a>
					</li>
					<li>
						<a href="#"href="carousel.html" class="slide-item">افزودن تایید کننده/اجرا کننده به کارتابل</a>
					</li>
					<li>
						<a href="#"href="colors.html" class="slide-item">گزارش کارتابل کاربر</a>
					</li>
					<li>
						<a href="#"href="dropdowns.html" class="slide-item">جزئیات کارتابل</a>
					</li>
					<li>
						<a href="#"href="grids.html" class="slide-item">تایید/رد کارتابل توسط امضا دار</a>
					</li>
					<li>
						<a href="#"href="modal.html" class="slide-item">اجرای کارتابل</a>
					</li>
					<li>
						<a href="#"href="navigation.html" class="slide-item">حذف تایید کننده / اجرا کننده از کارتابل </a>
					</li>
					<li>
						<a href="#"href="pagination.html" class="slide-item">انتقال وجه پایا گروهی کارتابلی</a>
					</li>
					<li>
						<a href="#"href="popovers.html" class="slide-item">انتقال وجه داخلی گروهی کارتابلی</a>
					</li>
					<li>
						<a href="#"href="progress.html" class="slide-item">لغو کارتابل</a>
					</li>
					<li>
						<a href="#"href="tabs.html" class="slide-item">ویرایش اطلاعات کارتابل</a>
					</li>

				</ul>
			</li>

			<li class="slide">
				<a href="#"class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fe fe-user"></i><span
						class="side-menu__label">عوارض آزاد راه</span><i class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="#"href="login.html" class="slide-item">بدهی کلی عوارض آزادراه</a>
					</li>
					<li>
						<a href="#"href="register.html" class="slide-item">جزئیات بدهی عوارض آزادراه</a>
					</li>
					<li>
						<a href="#"href="forgot.html" class="slide-item">پرداخت گروهی عوارض آزادراه</a>
					</li>
					<li>
						<a href="#"href="lockscreen.html" class="slide-item">پرداخت عوارض آزادراه</a>
					</li>
					<li>
						<a href="#"href="lockscreen.html" class="slide-item">استعلام پرداخت عوارض آزادراه</a>
					</li>
				</ul>
			</li>
			<li class="slide">
				<a href="#"class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-shopping-cart"></i><span class="side-menu__label">سجام</span><i	class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="#"href="shop.html" class="slide-item">ارسال کد فعالسازی سجام سمت احراز هویت کننده</a>
					</li>
					<li>
						<a href="#"href="cart.html" class="slide-item">لیست بانکهای سجام</a>
					</li>
							<li>
						<a href="#"href="shop.html" class="slide-item">تکمیل مشخصات پروفایل سجام</a>
					</li>
					<li>
						<a href="#"href="cart.html" class="slide-item">بررسی پروفایل سجام</a>
					</li>
							<li>
						<a href="#"href="shop.html" class="slide-item">لیست کشورها</a>
					</li>
					<li>
						<a href="#"href="cart.html" class="slide-item">لیست استانها</a>
					</li>
							<li>
						<a href="#"href="shop.html" class="slide-item">لیست شهرها</a>
					</li>
					<li>
						<a href="#"href="cart.html" class="slide-item">لیست بخشها</a>
					</li>
							<li>
						<a href="#"href="shop.html" class="slide-item">لیست مشاغل</a>
					</li>
					<li>
						<a href="#"href="cart.html" class="slide-item">دریافت وضعیت پروفایل در سجام</a>
					</li>
							<li>
						<a href="#"href="shop.html" class="slide-item">احراز هویت سجام</a>
					</li>
					<li>
						<a href="#"href="cart.html" class="slide-item">احراز هویت سجام سمت احراز هویت کنند</a>
					</li>
							<li>
						<a href="#"href="shop.html" class="slide-item">لیست خدمات سمت احراز هویت کننده</a>
					</li>
					<li>
						<a href="#"href="cart.html" class="slide-item">مشخصات خدمت سمت احرازهویت کننده</a>
					</li>
							<li>
						<a href="#"href="shop.html" class="slide-item">توکن پرداخت سمت احراز هویت کننده</a>
					</li>
					<li>
						<a href="#"href="cart.html" class="slide-item">ارسال توکن به درگاه</a>
					</li>
							<li>
						<a href="#"href="shop.html" class="slide-item">تایید پرداخت سمت احراز هویت کننده</a>
					</li>
					<li>
						<a href="#"href="cart.html" class="slide-item">استعلام پرداخت سمت احراز هویت کننده</a>
					</li>
							<li>
						<a href="#"href="shop.html" class="slide-item">احراز هویت سجام سمت احراز هویت کننده</a>
					</li>
					<li>
						<a href="#"href="cart.html" class="slide-item">کدرهگیری سجام سمت احراز هویت کننده</a>
					</li>
						<li>
						<a href="#"href="cart.html" class="slide-item">مشخصات پروفایل سجام سمت احرازهویت کننده</a>
					</li>

				</ul>
			</li>

			<li class="slide">
				<a href="#"class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fe fe-user"></i><span
						class="side-menu__label">سرویس های مکان محور</span><i class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="#"href="login.html" class="slide-item">دریافت آدرس براساس کدپستی</a>
					</li>
					<li>
						<a href="#"href="register.html" class="slide-item">دریافت جزییات آدرس براساس کدپستی</a>
					</li>
					<li>
						<a href="#"href="forgot.html" class="slide-item">دریافت مشخصات جغرافیایی براساس کدپستی</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</aside>