<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar ">
	<div class="sidebar-img">
		<a href="#" class="navbar-brand" href="index-ldf-2.html"><img alt="..." class="navbar-brand-img main-logo"
				src="~/admin/assets/img/brand/logolight1.png"> <img alt="..." class="navbar-brand-img logo"
				src="~/admin/assets/img/brand/logo.png"></a>
		<ul class="side-menu">
			<li class="slide">
				<a href="#" class="side-menu__item active" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-home"></i><span class="side-menu__label">داشبور</span><i
						class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="/admin/menu/index" class=" slide-item" href="index-ldf-2.html">خدمات</a>
					</li>
						<li>
						<a href="/admin/home/form" class=" slide-item" href="index-ldf-2.html">ثبت نام</a>
					</li>
	                <li>
						<a href="#" class=" slide-item" href="index-ldf-2.html">استعلام هویتی</a>
					</li>
				</ul>
			</li>

			<li class="slide">
				<a href="#" class="side-menu__item active" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-home"></i><span class="side-menu__label">سپرده</span><i
						class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="/admin/sepordeh/Index" class=" slide-item" href="index-ldf-2.html">مشاهده خدمات</a>
					</li>
				
				</ul>
			</li>


			<li class="slide">
				<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-grid"></i><span class="side-menu__label">انتقال وجه</span><i
						class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="/admin/Enteghal/Index" class="slide-item">مشاهده خدمات </a>
					</li>
				</ul>
			</li>

			<li class="slide">
				<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-edit"></i><span class="side-menu__label">قبض و شارژ</span><i
						class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="/admin/Gabz_Charge/Index" class="slide-item">مشاهده خدمات </a>
					</li>
				</ul>
			</li>
			<li class="slide">
				<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-map"></i><span class="side-menu__label">چک</span><i
						class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="#" href="maps.html" class="slide-item">مشاهده خدمات</a>
					</li>
				</ul>
			</li>
			<li class="slide">
				<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-file-text"></i><span class="side-menu__label">تسهیلات</span><i
						class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="#" href="tables.html" class="slide-item">مشاهده خدمات</a>
					</li>
				</ul>
			</li>
			<li class="slide">
				<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-bar-chart-2"></i><span class="side-menu__label">عمومی</span><i
						class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="#" href="chart-flot.html" class="slide-item">مشاهده خدمات</a>
					</li>
				</ul>
			</li>
			<li class="slide">
				<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-folder"></i><span class="side-menu__label">پیمان</span><i
						class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="#" href="user-profile.html" class="slide-item">مشاهده خدمات</a>
					</li>
				</ul>
			</li>
			<li class="slide">
				<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-italic"></i><span class="side-menu__label">توانم</span><i
						class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="#" href="icons-feather.html" class="slide-item"> مشاهده خدمات</a>
					</li>
				</ul>
			</li>
			<li class="slide">
				<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-underline"></i><span class="side-menu__label">کارپوشه </span><i
						class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="#" href="accordion.html" class="slide-item">مشاهده خدمات</a>
					</li>
				</ul>
			</li>

			<li class="slide">
				<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-user"></i><span class="side-menu__label">عوارض آزاد راه</span><i
						class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="#" href="login.html" class="slide-item">مشاهده خدمات</a>
					</li>
				</ul>
			</li>
			<li class="slide">
				<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-shopping-cart"></i><span class="side-menu__label">سجام</span><i
						class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="#" href="shop.html" class="slide-item">مشاهده خدمات</a>
					</li>
				</ul>
			</li>

			<li class="slide">
				<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-user"></i><span class="side-menu__label">سرویس های مکان
						محور</span><i class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="#" href="login.html" class="slide-item">مشاهده خدمات</a>
					</li>
				</ul>
			</li>


			<li class="slide">
				<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-user"></i><span class="side-menu__label">سازمان بیمه سلامت ایران</span><i class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="#" href="login.html" class="slide-item">مشاهده خدمات</a>
					</li>
				</ul>
			</li>



<li class="slide">
				<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-user"></i><span class="side-menu__label"> پخش فرآورده های نفتی  </span><i class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="#" href="login.html" class="slide-item">مشاهده خدمات</a>
					</li>
				</ul>
			</li>

<li class="slide">
				<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-user"></i><span class="side-menu__label">شرکت ملی گاز ایران  </span><i class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="#" href="login.html" class="slide-item">مشاهده خدمات</a>
					</li>
				</ul>
			</li>

			
<li class="slide">
				<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-user"></i><span class="side-menu__label">سازمان هواپیمایی کشوری  </span><i class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="#" href="login.html" class="slide-item">مشاهده خدمات</a>
					</li>
				</ul>
			</li>

<li class="slide">
				<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-user"></i><span class="side-menu__label">وزارت راه و شهرسازی  </span><i class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="#" href="login.html" class="slide-item">مشاهده خدمات</a>
					</li>
				</ul>
			</li>

<li class="slide">
				<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-user"></i><span class="side-menu__label">کمیته امداد امام خمینی  </span><i class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="#" href="login.html" class="slide-item">مشاهده خدمات</a>
					</li>
				</ul>
			</li>

<li class="slide">
				<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-user"></i><span class="side-menu__label">سازمان تامین اجتماعی  </span><i class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="#" href="login.html" class="slide-item">مشاهده خدمات</a>
					</li>
				</ul>
			</li>

<li class="slide">
				<a href="#" class="side-menu__item" data-toggle="slide" href="#"><i
						class="side-menu__icon fe fe-user"></i><span class="side-menu__label">سازمان هواپیمایی کشوری  </span><i class="angle fa fa fa-angle-down"></i></a>
				<ul class="slide-menu">
					<li>
						<a href="#" href="login.html" class="slide-item">مشاهده خدمات</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</aside>