
<div class="tab-pane fade" id="tab5">
								<div class="row">
									<div class="col-12">
										<div class="form-group clearfix">

											<div class="row mt-1">

												<div class="col-lg-3">
													<input class="form-control required" placeholder="		نام شرکت  "
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="			شروع همکاری"
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="			خاتمه همکاری"
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="		نوع فعالیت"
														type="text">
												</div>

											</div>

											<div class="row mt-1">

												<div class="col-lg-3">
													<input class="form-control required" placeholder="		نام شرکت  "
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="			شروع همکاری"
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="			خاتمه همکاری"
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="		نوع فعالیت"
														type="text">
												</div>

											</div>
											<div class="row mt-1">

												<div class="col-lg-3">
													<input class="form-control required" placeholder="		نام شرکت  "
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="			شروع همکاری"
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="			خاتمه همکاری"
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="		نوع فعالیت"
														type="text">
												</div>

											</div>
											<div class="row mt-1">

												<div class="col-lg-3">
													<input class="form-control required" placeholder="		نام شرکت  "
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="			شروع همکاری"
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="			خاتمه همکاری"
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="		نوع فعالیت"
														type="text">
												</div>

											</div>
											<div class="row mt-1">

												<div class="col-lg-3">
													<input class="form-control required" placeholder="		نام شرکت  "
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="			شروع همکاری"
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="			خاتمه همکاری"
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="		نوع فعالیت"
														type="text">
												</div>

											</div>
											<div class="row mt-1">

												<div class="col-lg-3">
													<input class="form-control required" placeholder="		نام شرکت  "
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="			شروع همکاری"
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="			خاتمه همکاری"
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="		نوع فعالیت"
														type="text">
												</div>

											</div>






										</div>

									</div>
								</div>
							</div>
