
		<div class="tab-pane fade" id="tab4">
								<div class="row">
									<div class="col-12">
										<div class="form-group clearfix">

											<div class="row mt-1">

												<div class="col-lg-3">
													<input class="form-control required" type="text" value="دیپلم"
														disabled>
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="		تاریخ اخذ مدرک"
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="		محل اخذ مدرک
														type=" text">
												</div>


											</div>

											<div class="row mt-1">

												<div class="col-lg-3">
													<input class="form-control required" type="text" value="کاردانی"
														disabled>
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="		تاریخ اخذ مدرک"
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="		محل اخذ مدرک
														type=" text">
												</div>


											</div>


											<div class="row mt-1">

												<div class="col-lg-3">
													<input class="form-control required" type="text" value="کارشناسی"
														disabled>
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="		تاریخ اخذ مدرک"
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="		محل اخذ مدرک
														type=" text">
												</div>


											</div>


											<div class="row mt-1">

												<div class="col-lg-3">
													<input class="form-control required" type="text" value="ارشد"
														disabled>
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="		تاریخ اخذ مدرک"
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="		محل اخذ مدرک
														type=" text">
												</div>


											</div>

											<div class="row mt-1">

												<div class="col-lg-3">
													<input class="form-control required" type="text" value="دکترا"
														disabled>
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="		تاریخ اخذ مدرک"
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="		محل اخذ مدرک
														type=" text">
												</div>


											</div>






										</div>

									</div>
								</div>
							</div>
