
 @model ViewModels.AdminViewModel.Admin.Vm_info
 <div class="tab-pane fade" id="tab5">
								<div class="row">
									<div class="col-12">
										<div class="form-group clearfix">

											<div class="row mt-1">

												<div class="col-lg-3">
													<input class="form-control required" placeholder="		نام شرکت  "
														type="text" asp-for="Fphotos">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="			شروع همکاری"
														type="text" asp-for="FNationalcard">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="			خاتمه همکاری"
														type="text" asp-for="FNationalcardback ">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="		نوع فعالیت"
														type="text" asp-for="FCertificate">
												</div>

											</div>

											<div class="row mt-1">

												<div class="col-lg-3">
													<input class="form-control required" placeholder="		نام شرکت  "
														type="text" asp-for="FShaba">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="			شروع همکاری"
														type="text" asp-for="FDegreeeducation">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="			خاتمه همکاری"
														type="text" asp-for=" FPostalcodeDoc">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="		نوع فعالیت"
														type="text" asp-for="FDocument">
												</div>

											</div>
											<div class="row mt-1">

												<div class="col-lg-3">
													<input class="form-control required" placeholder="		نام شرکت  "
														type="text" asp-for="FBadbackground">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="			شروع همکاری"
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="			خاتمه همکاری"
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="		نوع فعالیت"
														type="text">
												</div>

											</div>
											<div class="row mt-1">

												<div class="col-lg-3">
													<input class="form-control required" placeholder="		نام شرکت  "
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="			شروع همکاری"
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="			خاتمه همکاری"
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="		نوع فعالیت"
														type="text">
												</div>

											</div>
											<div class="row mt-1">

												<div class="col-lg-3">
													<input class="form-control required" placeholder="		نام شرکت  "
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="			شروع همکاری"
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="			خاتمه همکاری"
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="		نوع فعالیت"
														type="text">
												</div>

											</div>
											<div class="row mt-1">

												<div class="col-lg-3">
													<input class="form-control required" placeholder="		نام شرکت  "
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="			شروع همکاری"
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="			خاتمه همکاری"
														type="text">
												</div>
												<div class="col-lg-3">
													<input class="form-control required" placeholder="		نوع فعالیت"
														type="text">
												</div>

											</div>






										</div>

									</div>
								</div>
							</div>
